<template>
	<dr-appointment-list
		title="Consultas Marcadas"
		:appointments="appointments"
		@callback="onAppointmentClick"
	>
	</dr-appointment-list>
</template>

<script>
import DRAppointmentList from '../templates/DRAppointmentList.vue'

export default {
	components: {
		'dr-appointment-list': DRAppointmentList
	},

    metaInfo:{
        title: 'Dr. Na Hora',
    },

	data: () => ({
		appointments: []
	}),
	mounted(){
		$.request('onGetAgendamentosConfirmadosByUser', {
			success: (data) =>
			{
				this.data = data.filter(value => {
					return value.status.includes('p') == true
				})

                data.forEach(appointment => {
                    this.appointments.push({
                        id: appointment.id,
                        speciality: appointment.servico,
                        doctor: appointment.medico,
                        date: appointment.data,
                        time: appointment.horario,
                        endereco: appointment.endereco,
                        action: 'Cancelar'
                    })
                })
/*				this.data.forEach(appointment => {
					this.appointments.push({
						id: appointment.id,
						speciality: appointment.servico,
						doctor: appointment.medico,
						date: appointment.data,
						time: appointment.horario,
						endereco: appointment.endereco,
                        action: 'Cancelar'
					})
				})*/
			}
		});
	},
	methods: {
		onAppointmentClick(appointment) {
		    let _parent = this;

            $.request('onCancelAgendamento', {
                method: 'POST',
                data: {
                    agendamento: appointment.id
                },
                success: function() {
                    const index = _parent.appointments.indexOf(appointment);
                    _parent.appointments.splice(index, 1);

                    console.log('Clicou no appointment', index, _parent.appointments);
                }
            });

		}
	}
}
</script>
