<template>
	<div class="dr-auth">
		<div class="dr-auth__body">
			<router-view
				@success="$router.push({ name: 'dashboard-scheduled' })"
				@login="$router.push({ name: 'auth-login' })"
				@register="$router.push({ name: 'auth-register' })"
				@reset="$router.push({ name: 'auth-reset' })"
				@reset-success="$router.push({ name: 'auth-reset-success' })"
			>
			</router-view>
		</div>

		<svg class="dr-auth__balloon dr-auth__balloon--dark" width="1440" height="545" viewBox="0 0 1440 545" fill="none">
			<path d="M1697.12 671.044C1553 647.695 1037 0 251 0C-535 0 -1137 223.398 -1137 671.044C-1137 1118.69 -502.561 1481.58 280.058 1481.58C1062.68 1481.58 1841.23 694.394 1697.12 671.044Z" fill="#0B3CC5"/>
		</svg>
		<svg class="dr-auth__balloon dr-auth__balloon--light" width="1440" height="545" viewBox="0 0 1440 545" fill="none">
			<path d="M1697.12 671.044C1553 647.695 1037 0 251 0C-535 0 -1137 223.398 -1137 671.044C-1137 1118.69 -502.561 1481.58 280.058 1481.58C1062.68 1481.58 1841.23 694.394 1697.12 671.044Z" fill="#E0E9FF"/>
		</svg>
	</div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.dr-auth{
	overflow: hidden;
	text-align: center;
	position: relative;
	&__header{
	}
	&__brand{
		margin: 86px auto;
	}
	&__body{
		width: 100%;
		max-width: 568px;
		text-align: left;
		margin: 0 auto;
		background: white;
		box-shadow: 3px 12px 30px rgba(black, .1);
		padding: 43px 72px;
		box-sizing: border-box;
		margin-top: 76px;
		margin-bottom: 76px;
		z-index: 15;
		position: relative;
	}
	&__balloon{
		position: absolute;
		top: 50%;
		&--dark{
			transform: translateX(-50%);
			left: 50%;
			z-index: 10;
		}
		&--light{
			transform: translateX(50%) scaleX(-1);
			left: -50%;
			z-index: 5;
		}
	}
}
</style>
