<template>
	<div class="col-12" id="vue-search">
		<!-- Wrapper -->
		<div class="wrapper blog">
			<div class="row">
				<div class="col-12 d-none d-sm-block">
					<div class="blog-slides">
						<div class="blog-slides-nav">
							<button class="blog-slides-nav-button">Próximo <i class="icon"></i></button>
						</div>
						<div class="blog-slides-dots">
							<ul>
								<li :class="{'active':index == 0}" v-for="(item, index) in features">
									<button></button>
								</li>
							</ul>
						</div>
						<div class="blog-slides-item" :class="{'active':index == 0}" v-for="(post, index) in features">
							<div class="blog-slides-item-content">
								<div class="main-center">
									<div class="v-align">
										<div class="v-align-middle">
											<div class="blog-slides-item-info">
												<p class="info-label">{{post.category.title }}</p>
												<h2 class="info-title">{{ post.title }}</h2>
												<router-link class="info-link" :to="{ name: 'post', params: { id: post.id } }" :title="post.title">
													<span class="labe">Ler Mais</span>
													<i class="icon"></i>
												</router-link>
											</div>
										</div>
									</div>
								</div>
							</div>
							<img :src="post.thumbnail.path" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="blog-header main-center">
						<div class="row">
							<div class="col-md-4">
								<div class="v-align">
									<div class="v-align-middle">
										<h1 class="section-title">Notícias</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="main-center">
						<div class="row">
							<div class="col-md-4" v-if="q.length == 0"  v-for="post in posts">
								<router-link class="global-blog-post-item" :to="{ name: 'post', params: { id: post.id } }" title="">
									<span class="post-item-label">{{post.category.title}}</span>
									<span class="post-item-title">{{post.title}}</span>
									<img class="post-item-thumb" :src="post.thumbnail.path" alt="">
									<span class="post-item-footer clearfix">
										<span class="post-item-more float-left">
											Leia mais
										</span>
										<i class="post-item-icon float-right"></i>
									</span>
								</router-link>
							</div>
							<div class="col-md-4" v-if=" q.length > 0" v-for="post in filtered">
								<router-link class="global-blog-post-item" :to="{ name: 'post', params: { id:  post.id } }" title="">
									<span class="post-item-label">{{post.category.title}}</span>
									<span class="post-item-title">{{post.title}}</span>
									<img class="post-item-thumb" :src="post.thumbnail.path" alt="">
									<span class="post-item-footer clearfix">
										<span class="post-item-more float-left">
											Leia mais
										</span>
										<i class="post-item-icon float-right"></i>
									</span>
								</router-link>
							</div>
							<div class="col-12 text-center">
								<a class="global-link global-link-bottom nofill" @click="viewMore" href="" title="Ver Mais" rel="nofollow">Ver Mais</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default{

	metaInfo:{
		title: 'Fique por dentro de notícias e artigos sobre saúde | Dr. na Hora',
		meta: [
			{
				property: 'description',
				content: 'Acompanhe nossas informações sobre assuntos relacionados a saúde e bem-estar e mantenha-se atualizado em nosso blog. Confira agora!'
			}
		]
	},

	data: () => ({
		data: [],
		posts: [],
		filtered: [],
		features: [],
		limit: 6,
		page: 1,
		q: ""
	}),
	mounted(){
		setTimeout(() => {
			this.blogGallery()
		},1000)

	},
	beforeRouteEnter(to, from, next){
		$.request('onLoadPosts', {
			success: (data) =>
			next(vm => {
				vm.data = Object.values(data)
				vm.features = vm.data.filter(post => {
					return post.featured == 1
				}).slice(0, vm.limit)
				vm.posts = vm.data.filter(post => {
					return post.featured == 0
				}).slice(0, vm.limit)
			})
		})
	},
	methods: {
		viewMore(event){
			this.page++;
			this.posts = this.data.filter(post => {
				return post.featured == 0
			}).slice(0, (this.limit * this.page))
			event.preventDefault()
		},
		blogGallery() {
			var currentSlide = 0,
				totalSlides  = $('.blog-slides-item').length,
				nextImage    = $('.blog-slides-item.active').next().find('img').attr('src');

			console.log(totalSlides)

			function loadNextImage() {
				$('.blog-slides-nav').removeClass('active');

				var url = $('.blog-slides-item.active').next().find('img').attr('src');

				if(url == undefined) {
					nextImage = $($('.blog-slides-item')[0]).find('img').attr('src');;
				} else {
					nextImage = url;
				}

				$('.blog-slides-nav').css('background-image', "url('/themes/drnahora/public/images/bg-location.png'), url('" + nextImage + "')");
			}

			function calculeNext() {
				if(currentSlide < (totalSlides - 1)) {
					currentSlide += 1;
				} else {
					if(currentSlide == totalSlides - 1) {
						currentSlide = 0;
					}
				}

				$('.blog-slides-item.active').removeClass('active');
				$($('.blog-slides-item')[currentSlide]).addClass('active');

				$('.blog-slides-dots li.active').removeClass('active');
				$($('.blog-slides-dots li')[currentSlide]).addClass('active');
			}

			function next() {
				$('.blog-slides-nav').on('mouseenter', function(e) {
					$(this).addClass('active');
				});

				$('.blog-slides-nav').on('mouseleave', function(e) {
					$(this).removeClass('active');
				});

				$('.blog-slides-dots li').on('click', function(e) {
					if($(e.target).index() != currentSlide) {
						calculeNext();
					}

					loadNextImage();
				});

				$('.blog-slides-nav').on('click', function(e) {
					calculeNext();

					loadNextImage();
				});
			}
			next();
			loadNextImage();
		},
		search(event) {
			this.filtered = this.data.filter(value => {
				return value.title.includes(this.q) == true
			}).slice(0, (this.limit * this.page))
		}

	}
}
</script>

<style>
</style>
