<template>
    <div class="col-12">
        <!-- Wrapper -->
        <div class="wrapper consultas">

            <!-- Search Box -->
            <div class="row">
                <div class="col-12">
                    <div class="global-search-box">
                        <div class="main-center">
                            <h1 class="section-title">Mais de 25 especialidades</h1>
                            <p class="section-label">Escolha uma especialidade e marque sua consulta</p>
                            <form class="global-searchbar-form" method="GET">
                            <input class="searchbar-form-input" @keyup="search" v-model="q" type="text" name="q" placeholder="Pesquise por especialidade">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Horizontal items -->
            <div class="row">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-12" v-for="(consulta, index) in consultas" :key="index">
                                <div class="global-horiz-item">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="horiz-item-label">{{ consulta.nome }}</p>
																						<p class="horiz-item-excerpt" v-html="consulta.sobre_procedimento"></p>
                                            <router-link :to="{name: 'consulta', params: {id: consulta.id}}" class="horiz-item-more">Saiba mais</router-link>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <div class="v-align">
                                                <div class="v-align-middle">
                                                    <router-link class="global-link" :to="{name: 'schedule', params: {servico_id: consulta.id, type: 'consultas'}}" title="Agendar">Agendar</router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" v-if="consultas.length != data.length">
                <div class="col-12 text-center">
                    <a class="global-link global-link-bottom nofill" @click="viewMore" href="" title="Ver Mais" rel="nofollow">Ver Mais</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{

        metaInfo:{
            title: 'Consultas e Exames com qualidade e preço justo - Dr. na Hora',
            meta: [
                {
                    property: 'description',
                    content: 'Agende já sua consulta sem burocracia e tenha acesso a profissionais qualificados em uma estrutura de primeira, prontos para receber você. Confira!'
                }
            ]
        },

        data: () => ({
            data: [],
            consultas: [],
            limit: 10,
            page: 1,
            q: ""
        }),
        mounted(){
        },
        beforeRouteEnter(to, from, next){
            $.request('onLoadConsultas', {
                success: (data) =>
                    next(vm => {
                        vm.data = data;
                        vm.consultas = vm.data.slice(0, (vm.limit * vm.page))
                    })
            });
        },
        methods: {
            viewMore(event){
                this.page++;
                this.consultas = this.data.slice(0, (this.limit * this.page))
                event.preventDefault()
            },
            replaceKeyword(key) {
                let str = key.replace(/[aáàãäâ]/,'a');
                str = str.replace(/[eéèëê]/,'e');
                str = str.replace(/[iíìïî]/,'i');
                str = str.replace(/[oóòõöô]/,'o');
                str = str.replace(/[uúùüû]/,'u');
                str = str.replace(/[çÇ]/,'c');
                return str;
            },
            search(event) {
                this.consultas = this.data.filter(value => {
                    return this.replaceKeyword(value.nome.toLowerCase()).includes(this.replaceKeyword(this.q.toLowerCase())) == true
                }).slice(0, (this.limit * this.page))
            }

        }
    }
</script>

<style>
</style>
