<template>
    <div class="col-12">
        <!-- Wrapper -->
        <div class="wrapper exame-interna">

            <!-- Cabeçalho -->
            <div class="row">
                <div class="col-12">
                    <div class="exame-header">
                        <div class="main-center">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 class="section-title">{{exame.nome}}</h1>
                                </div>
                                <div class="col-md-4 text-sm-left text-md-right">
                                    <div class="v-align">
                                        <div class="v-align-middle">
                                            <span class="exame-price">Valor: <b>R$ {{exame.valor}}</b></span>
                                            <router-link class="global-link" :to="{name: 'schedule', params: {servico_id: exame.id}}" title="Agendar">Agendar</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-md-5">
                                <article class="exame-content">
                                    <h3 class="exame-content-title">Orientações Gerais</h3>
                                    <span v-html="exame.orientacoes_gerais"></span>
                                </article>
                            </div>
                            <div class="col-md-6 offset-md-1 wrbg">
                                <article class="exame-content wrbg">
                                    <h3 class="exame-content-title">Restrições</h3>
                                    <span v-html="exame.restricoes"></span>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 wbbg">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-12">
                                <article class="exame-content pb0">
                                    <h3 class="exame-content-title">Preparo</h3>
                                </article>
                            </div>
                            <div class="col-md-5">
                                <article class="exame-content pt0" v-html="exame.sobre_procedimento">
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        metaInfo:{
            title: 'Dr. Na Hora',
        },
        data: () => ({
            exame: [],
        }),
        mounted(){
        },
        beforeRouteEnter(to, from, next){
            $.request('onLoadExames', {
                data: {id: to.params.id},
                success: (data) =>
                    next(vm => {
                        vm.exame = data
                    })
            });
        },
    }
</script>

<style>
</style>
