<template>
    <div class="col-12" id="vue-search">
        <!-- Wrapper -->
        <div class="wrapper exames">

            <!-- Search Box -->
            <div class="row">
                <div class="col-12">
                    <div class="global-search-box">
                        <div class="main-center">
                            <h1 class="section-title">Mais de 200 exames</h1>
                            <p class="section-label">Busque aqui o exame que você precisa</p>
                            <form class="global-searchbar-form" method="GET" action="/exames.html">
                                <input class="searchbar-form-input" @keyup="search" v-model="q" type="text" placeholder="Pesquise por exame">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" v-if="q.length == 0">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-md-4">
                                <router-link class="global-vert-item" :to="{name: 'categorias', params: {slug: 'laboratoriais'}}" title="Exames Laboratoriais">
                                    <i class="vert-item-icon lab"></i>
                                    <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                    <span class="vert-item-excerpt">Com os exames laboratoriais é possível realizar testes em laboratório de análises clínicas com o objetivo de de diagnosticar ou confirmar uma doença ou para um check-up.</span>
                                </router-link>
                            </div>
                            <div class="col-md-4">
                                <router-link class="global-vert-item" :to="{name: 'categorias', params: {slug: 'imagem'}}" title="Exames de imagem">
                                    <i class="vert-item-icon body"></i>
                                    <span class="vert-item-label">Exames<br>de imagem</span>
                                    <span class="vert-item-excerpt">Tenha um diagnóstico seguro através de exames de imagem, que investigam detalhadamente o corpo humano.</span>
                                </router-link>
                            </div>
                            <div class="col-md-4">
                                <router-link class="global-vert-item" :to="{name: 'categorias', params: {slug: 'coracao'}}" title="Exames do coração">
                                    <i class="vert-item-icon heart"></i>
                                    <span class="vert-item-label">Exames<br>do coração</span>
                                    <span class="vert-item-excerpt">
                                        A saúde do seu coração está segura conosco. Faça exames completos e confiáveis para cuidar desse órgão tão importante para o seu corpo.
                                    </span>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vertical items -->
            <div class="row" v-if="q != 0">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-md-4" v-for="(exame, index) in exames" :key="index">
                                <a class="global-vert-item" href="/exame.html" :title="exame.nome">
                                    <i class="vert-item-icon lab"></i>
                                    <span class="vert-item-label">{{ exame.nome }}</span>
                                    <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{

        metaInfo:{
            title: 'Consultas e Exames com qualidade e preço justo - Dr. na Hora',
            meta: [
                {
                    property: 'description',
                    content: 'Agende já sua consulta sem burocracia e tenha acesso a profissionais qualificados em uma estrutura de primeira, prontos para receber você. Confira!'
                }
            ]
        },

        data: () => ({
            data: [],
            exames: [],
            filtered: [],
            features: [],
            limit: 10,
            page: 1,
            q: ""
        }),
        mounted(){
        },
        beforeRouteEnter(to, from, next){
            $.request('onLoadExames', {
                success: (data) =>
                    next(vm => {
                        vm.data = data
                        vm.exames = vm.data.slice(0, (vm.limit * vm.page))
                    })
            });
        },
        methods: {
            viewMore(event){
                this.page++;
                this.exames = this.data.slice(0, (this.limit * this.page))
                event.preventDefault()
            },
            replaceKeyword(key) {
                let str = key.replace(/[aáàãäâ]/,'a');
                str = str.replace(/[eéèëê]/,'e');
                str = str.replace(/[iíìïî]/,'i');
                str = str.replace(/[oóòõöô]/,'o');
                str = str.replace(/[uúùüû]/,'u');
                str = str.replace(/[çÇ]/,'c');
                return str;
            },
            search(event) {
                this.exames = this.data.filter(value => {
                    return this.replaceKeyword(value.nome.toLowerCase()).includes(this.replaceKeyword(this.q.toLowerCase())) == true
                }).slice(0, (this.limit * this.page))
            }

        }
    }
</script>

<style>
</style>
