<template>
	<div class="dr-medicos col-12" id="vue-search">
		<!-- Wrapper -->
		<div class="wrapper medicos">

			<!-- Search Box -->
			<div class="row">
				<div class="col-12">
					<div class="global-search-box">
						<div class="main-center">
							<h1 class="section-title">Conheça nossos médicos</h1>
							<p class="section-label">A nossa equipe é formada por profissionais qualificados e que fazem um atendimento de excelência. Saiba mais!</p>
							<form class="global-searchbar-form" method="GET" action="/medicos.html">
								<button class="searchbar-form-submit">Buscar</button>
								<input class="searchbar-form-input" v-model="q" @keyup="search($event);" type="text" placeholder="Pesquise por médico ou área de atuação">
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Order -->
			<div class="row">
				<div class="col-12">
					<div class="main-center">
						<div class="col-md-3 offset-md-9">
							<ul class="global-dropdown-list">
								<li class="dropdown-list-item selected">Por profissionalização <i	class="dropdown-arrow"></i></li>
								<ul class="dropdown-sublist">
									<li class="dropdown-sublist-item">
										<a href="" title="Item 1">Item 1</a>
									</li>
									<li class="dropdown-sublist-item">
										<a href="" title="Item 2">Item 2</a>
									</li>
									<li class="dropdown-sublist-item">
										<a href="" title="Item 3">Item 3</a>
									</li>
									<li class="dropdown-sublist-item">
										<a href="" title="Item 4">Item 4</a>
									</li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="dr-medicos__especialidades main-center" v-show="q == ''" v-if="especialidades.length > 0">
				<button class="dr-medicos__arrow dr-medicos__arrow--prev">
					<span class="icon icon-arrow-left"></span>
				</button>
				<button class="dr-medicos__arrow dr-medicos__arrow--next">
					<span class="icon icon-arrow-right"></span>
				</button>

				<div class="dr-medicos__swiper swiper-container">
					<div class="swiper-wrapper">
						<dr-item-speciality
							class="dr-medicos__slide swiper-slide"
							v-for="(especialidade, index) in especialidades"
							v-bind:key="index"
							:icon="especialidade.icone ? especialidade.icone.path : ''"
							:label="especialidade.name"
							:active="speciality == especialidade.id"
							@click="onSpecialityClick(especialidade.id)"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="main-center">
						<h1 class="section-title">Nossos Médicos</h1>
					</div>
				</div>
				<div class="col-12">
					<div class="main-center">
						<div class="row">
							<div class="col-md-3" v-for="(medico, index) in medicos" :key="index">
								<router-link class="medico-card" :to="{ name: 'medico', params: { id: medico.id } }" :title="medico.name">
									<span class="medico-card-thumb" :style="{backgroundImage: `url(${medico.foto ? medico.foto.path : ''})`}"></span>
									<span class="medico-card-name">{{ medico.name }}</span>
									<span class="medico-card-info">{{ medico.orgao }} {{ medico.codigo_orgao }}   <span v-if="medico.rqe">  &nbsp; &nbsp;  RQE  {{ medico.rqe }} </span>
							<!--		<b v-for="especialidade in medico.especialidades_shosp">  {{ especialidade.nomeEspecialidade }}</b>-->
									</span>
								</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import DRItemSpeciality from '@/components/molecules/DRItemSpeciality.vue'
import Swiper from 'swiper'

export default{
	components: {
		'dr-item-speciality': DRItemSpeciality
	},

	metaInfo:{
		title: 'Conheça nossos médicos | Dr. Na Hora',
		meta: [
			{
				property: 'description',
				content: 'Nossos médicos possuem excelente qualificação e estão preparados para um atendimento humanizado, que prioriza o seu bem-estar. Conheça nossa equipe!'
			}
		]
	},

	data: () => ({
		data: [],
		medicos: [],
		especialidades: [],
		speciality: null,
		limit: 10,
		page: 1,
		q: ""
	}),

	mounted(){
	},

	beforeRouteEnter(to, from, next){
		$.request('onGetDoctors', {
			success: (data_medicos) =>
			$.request('onGetEspecialidades', {
				success: (data_especialidades) =>
				next(vm => {
					vm.data = data_medicos
					vm.medicos = vm.data.slice(0, (vm.limit * vm.page))
					vm.especialidades = data_especialidades
					vm.$nextTick(() => vm.initEspecialidades())
				})
			})
		})
	},

	methods: {
		viewMore(event){
			this.page++;
			this.medicos = this.data.slice(0, (this.limit * this.page))
			event.preventDefault()
		},

		search(event) {
			this.medicos = this.data.filter(value => {
				if(value.name.toLowerCase().includes(this.q.toLocaleLowerCase())){
                    return true
                }
                else{
                    if(value.especialidades.length > 0 ){
                     //   value.especialidades.forEach(especialidade => {
                       //    if(especialidade.name.toLowerCase().includes(this.q.toLocaleLowerCase()) === true ){
                               return value.especialidades[0].name.toLowerCase().includes(this.q.toLocaleLowerCase()) === true;
                      //     }
                   //     })
                    }
                }
			}).slice(0, (this.limit * this.page));
		},

		initEspecialidades() {
			this.swiper = new Swiper(this.$el.querySelector('.dr-medicos__swiper'), {
				slidesPerView: 'auto',
				slidesPerGroup: 3,
				spaceBetween: 30,
				navigation: {
					prevEl: this.$el.querySelector('.dr-medicos__arrow--prev'),
					nextEl: this.$el.querySelector('.dr-medicos__arrow--next'),
				}
			})
		},

		onSpecialityClick(id) {
			this.speciality = id

			this.medicos = this.data.filter(value => {
				let valid = false

				value.especialidades.forEach(especialidade => {
					if (especialidade.id == id)
						valid = true
				})

				return valid
			})
		}
	}
}
</script>

<style lang="scss">
.dr-medicos{
	&__especialidades{
		position: relative;
		margin-bottom: 40px;
	}
	&__arrow{
    cursor: pointer;
    position: absolute;
    top: 43px;
    display: block;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 9999px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		color: $c-accent;
		font-size: 14px;
		&--next{
			right: -43px;
		}
		&--prev{
			left: -63px;
		}
	}
	&__swiper{
		//
	}
	&__slide{
		width: 135px !important;
	}
}
</style>
