<template>
	<div class="dr-medico col-12">
		<!-- Wrapper -->
		<div class="wrapper medico">
			<div class="main-center">
				<div class="row">
					<div class="col-md-6">
						<img class="medico-photo" :src="medico.foto ? medico.foto.path : ''" :alt="medico.name">
					</div>
					<div class="col-md-4">
						<article class="medico-article">
							<h1 class="medico-name">{{ medico.name }}</h1>
							<p class="medico-info">{{ medico.orgao }}  {{ medico.uf_orgao }} - {{ medico.codigo_orgao }} |  <span v-if="medico.rqe"> RQE - {{ medico.rqe }} </span>  </p>
							<p class="medico-topic">Especialidade</p>
							<ul>
								<li v-for="especialidade in medico.especialidades">
									{{ especialidade.name }}
								</li>
							</ul>
                            <div v-if="medico.formacao">
                                <p class="medico-topic">Formação</p>
                                <ul>
                                    <li>
                                        {{ medico.formacao }}
                                    </li>
                                </ul>
                            </div>
							<!-- <p class="medico-description">Universidade Federal do Maranhão - UFMA</p> -->
                            <div v-if="medico.residencia">
                                <p class="medico-topic">Residência</p>
                                <ul>
                                    <li>
                                        {{ medico.residencia }}
                                    </li>
                                </ul>
                            </div>



							<!-- <p class="medico-description">Instituto Superior de Medicina e Dermatologia</p> -->
							<div class="medico-action">
								<dr-button @click="modalcurriculo = true" style="background-color: #0B3CC5; border-color: #0B3CC5;" :filled="true" theme="accent">
									Currículo
								</dr-button>

								<dr-button @click="modal = true" :filled="true" theme="accent">
									Agendar Consulta
								</dr-button>
								<p class="global-link-label" v-if="medico.todas_idades">Atende todas as idades</p>
							</div>


						</article>
					</div>
				</div>
			</div>
		</div>

		<transition name="curriculo">
			<dr-modalcurriculo v-if="modalcurriculo" @close="modalcurriculo = false">
				<img class="medico-photo" style="width:100%;" :src="medico.curriculo ? medico.curriculo.path : ''" :alt="medico.name">
			</dr-modalcurriculo>
		</transition>

		<transition name="fade">
			<dr-modal v-if="modal" @close="modal = false">
				<dr-doctor-services
					:appointments="consultas"
					:exams="exames"
					v-model="servico"
					@submit="onSubmit"
				/>
			</dr-modal>
		</transition>
	</div>
</template>

<script>
import DRModal from '@/components/atoms/DRModal.vue'

import DRButton from '@/components/atoms/DRButton.vue'
import DRDoctorServices from '@/components/organisms/DRDoctorServices.vue'

export default {
	components: {
		'dr-modal': DRModal,
		'dr-modalcurriculo': DRModal,
		'dr-button': DRButton,
		'dr-doctor-services': DRDoctorServices,
	},
    metaInfo:{
        title: 'Médico Dr. Na Hora',
        meta: [
            {
                property: 'description',
                content: 'Nosso médico.'
            }
        ]
    },

	beforeRouteEnter(to, from, next) {
		$.request('onGetDoctor', {
			data: {
				id: to.params.id
			},
			success: medico => {
				next(vm => {
					vm.medico = medico

					vm.medico.servicos.forEach(servico => {
						if (servico.tipo == 'C')
							vm.consultas[servico.id] = servico.nome
						else if (servico.tipo == 'E')
							vm.exames[servico.id] = servico.nome
					})
				})
			}
		})
	},
	data: () => ({
		modal: false,
		modalcurriculo: false,
		medico: {},
		servico: null,
		consultas: {},
		exames: {}
	}),

	methods: {
		onSubmit() {
			this.$router.push({
				name: 'schedule',
				params: {
					servico_id: this.servico,
					medico_id: this.medico.id
				}
			})
		}
	}
}
</script>

<style lang="scss">
.dr-medico{
}
</style>
