<template>
	<div
		class="dr-schedule"
		:class="{ 'is-loading': loading }"
		v-window-height
	>
		<div class="dr-schedule__loading" v-show="loading">
			<img src="/themes/drnahora/public/images/ajax-loader.gif">
			<span>
				Procurando dias disponíveis
			</span>
		</div>

		<dr-toolbar
			class="dr-schedule__toolbar"
			:title="title"
			@previous="onPrevious"
		/>

		<div class="dr-schedule__wrapper">
			<transition name="fade" mode="out-in">
				<div
					v-if="step == 1"
					class="dr-schedule__body dr-schedule__body--date"
					:key="1"
				>
					<dr-title class="dr-schedule__title">
						Selecione o dia
					</dr-title>

					<dr-text class="dr-schedule__label" type="small">
						Escolha o melhor dia para sua consulta.
					</dr-text>

					<dr-calendar
						class="dr-schedule__calendar"
						:available-dates="availableDates"
						v-model="date"
						@changed-month="onChangedMonth"
					/>

					<dr-toggle-shift
						class="dr-schedule__shift"
						v-if="date"
						v-model="shift"
						:morning="hasTime('morning')"
						:afternoon="hasTime('afternoon')"
						:night="hasTime('night')"
					/>
				</div>

				<div
					v-if="step == 2"
					class="dr-schedule__body dr-schedule__body--doctor"
					:key="2"
				>
					<dr-title class="dr-schedule__title">
						Selecione o médico
					</dr-title>

					<dr-text class="dr-schedule__label" type="small">
						Selecione o médico e a hora disponível:
					</dr-text>

					<div class="dr-schedule__doctors">
						<dr-card-doctor
							class="dr-schedule__doctor"
							v-for="(item, index) in selected"
							v-model="time"
							v-if="item[shift].length > 0"
							:key="index"
							:name="item.medico.name"
							:avatar="item.medico.foto ? item.medico.foto.path : null"
							:document="item.medico.orgao+' '+item.medico.codigo_orgao"
							:unit="item.unidade.name"
							:active="active == index"
							:availability="item[shift]"
							@click="onItemSelect(item, index)"
							@select="onNext"
						/>
					</div>
				</div>

                <div
                    v-if="step == 3"
                    class="dr-schedule__body dr-schedule__body--doctor"
                    :key="3"
                >
                    <dr-title class="dr-schedule__title">
                        Selecione o paciente
                    </dr-title>

                    <dr-input-select
                        label="Selecione um paciente"
                        :options="pacientes"
                        v-model="paciente"/>

					<dr-input-text
						type="text"
						name="phone"
						v-model="phone"
	                    :mask="{phone : true, phoneRegionCode : 'br'}"
                        v-validate="'required|min:14'"
                        placeholder="Telefone"
                        :error="errors.first('phone')"
					>
					</dr-input-text>
					<dr-text class="dr-register__caption" type="caption">
						Não é necessário inserir o prefixo "9" no telefone.
					</dr-text>

                    <dr-input-text
                        v-if="paciente === 'novo'"
                        label="Nome do paciente"
                        v-model="paciente_nome" />

                </div>

				<div
					:key="4"
					class="dr-schedule__body dr-schedule__body--review"
					v-if="step == 4"
				>
					<dr-appointment-review
						class="dr-schedule__review"
						:service="servico.nome"
						:speciality="especialidade.name"
						:date="date | date"
						:doctor="medico.name"
						:time="time"
						:unit="unidade.name"
                        :pacientes="pacientes"
                        :paciente="paciente"
                        :paciente_nome="paciente_nome"
                        :phone="phone"
						:total="servico.valor | currency"
					/>
					<dr-appointment-payment
						class="dr-schedule__payment"
						v-model="payment"
						:total="servico.valor"
						@input="changePayment($event)"
					/>
				</div>
			</transition>
		</div>

		<transition name="fade">
			<dr-button
				v-if="(step == 1 && shift) || (
				step == 3 && (
				(paciente === 'novo' && paciente_nome !== '') || (paciente > 0)
				) && phone.length >= 14)"
				class="dr-schedule__next"
				theme="accent"
				:filled="true"
				@click="onNext"
			>
				Próximo
			</dr-button>
		</transition>

		<transition name="fade">
			<div class="dr-schedule__footer">
				<dr-button
					v-if="step == 4"
					class="dr-schedule__next"
					theme="primary"
					:filled="true"
					@click="onPrevious"
				>
					Editar
				</dr-button>
				<dr-button
					v-if="step == 4"
					class="dr-schedule__next"
					theme="accent"
					:filled="true"
                    :disabled="btnDisabled"
					@click="onFinish"
				>
					Marcar
				</dr-button>

			</div>

		</transition>

		<transition name="fade">
			<dr-modal
				v-if="authenticating"
				:class="{ 'dr-modal--register': auth == 'register' }"
				@close="authenticating = false"
			>
				<transition name="fade" mode="out-in">
					<dr-login
						v-if="auth == 'login'"
						@register="auth = 'register'"
						@success="onAuth"
					/>

					<dr-register
						v-if="auth == 'register'"
						@login="auth = 'login'"
						@success="onAuth"
					/>
				</transition>
			</dr-modal>
		</transition>

		<transition name="fade">
			<dr-alert
				v-if="success"
				type="success"
				message="Consulta marcada com sucesso!"
				@confirm="$router.push({ name: 'dashboard-scheduled' })"
				@close="$router.push({ name: 'dashboard-scheduled' })"
			>
			</dr-alert>
		</transition>
	</div>
</template>

<script>
import DRModal from '@/components/atoms/DRModal.vue'
import DRToolbar from '@/components/molecules/DRToolbar.vue'
import DRText from '@/components/atoms/DRText.vue'
import DRTitle from '@/components/atoms/DRTitle.vue'
import DRCalendar from '@/components/atoms/DRCalendar.vue'

import DRInputSelect from '@/components/molecules/DRInputSelect.vue'
import DRInputText from '@/components/molecules/DRInputText.vue'

import DRToggleShift from '@/components/molecules/DRToggleShift.vue'
import DRCardDoctor from '@/components/molecules/DRCardDoctor.vue'
import DRLogin from '@/components/organisms/DRLogin.vue'
import DRRegister from '@/components/organisms/DRRegister.vue'
import DRAppointmentPayment from '@/components/organisms/DRAppointmentPayment.vue'
import DRAppointmentReview from '@/components/organisms/DRAppointmentReview.vue'
import DRButton from '@/components/atoms/DRButton.vue'
import DRAlert from '@/components/molecules/DRAlert.vue'

import windowHeight from '@/directives/window-height'
import date from '@/filters/date'
import currency from '@/filters/currency'
import cache from '@/cache'
import moment from 'moment'

export default {
	components: {
        'dr-input-text': DRInputText,
        'dr-input-select': DRInputSelect,
		'dr-modal': DRModal,
		'dr-button': DRButton,
		'dr-toolbar': DRToolbar,
		'dr-text': DRText,
		'dr-title': DRTitle,
		'dr-calendar': DRCalendar,
		'dr-toggle-shift': DRToggleShift,
		'dr-card-doctor': DRCardDoctor,
		'dr-appointment-review': DRAppointmentReview,
		'dr-appointment-payment': DRAppointmentPayment,
		'dr-login': DRLogin,
		'dr-register': DRRegister,
		'dr-alert': DRAlert
	},

    metaInfo:{
        title: 'Dr. Na Hora',
        meta: [
            {
                property: 'description',
                content: 'Aqui você pode conferir todo o andamento das suas consultas.'
            }
        ]
    },

	beforeRouteEnter(to, from, next) {

		$.request('onGetService', {
			data: {
				id: to.params.servico_id
			},
			success: servico => {
			    //console.log("return of onGetService")
			    //console.log(servico)
				let callback = medico => {

                    next(vm => {

                        vm.servico = servico
                        vm.especialidade = servico.especialidade

                        if (medico)
                            vm.medico = medico
                    })

				};

				// If medico is passed
				if (to.params.medico_id) {
                    $.request('onGetDoctor', {
                        data: {
                            id: to.params.medico_id
                        },
                        success: medico => callback(medico)
                    });
                } else {
                    callback()
                }

			},
			error: next
		})
	},

	filters: {
		'date': date,
		'currency': currency
	},

	directives: {
		'window-height': windowHeight
	},

	computed: {
		title() {
			switch (this.step) {
				case 1:
					return this.servico.nome
					break
				case 2:
					return 'Médicos disponíveis'
					break
				case 3:
					return 'Detalhes da consulta'
					break
			}
		},

		selected() {
			return this.cache[this.date.toISOString().slice(0,10)]
		},

		availableTimes() {
			let times = null

			this.selected.forEach((item, index) => {
				if (item.medico.id == this.doctor)
					times = item[this.shift]
			})

			return times
		},
	},

	data: () => ({
		auth: 'login',
		authenticating: false,
		loading: true,
		success: false,
		step: 1,
		date: null,
		startDate: moment().format('YYYY-MM-DD'),
		shift: null,
		doctor: null,
		time: null,
		timeCode: null,
		payment: 'pagseguro',
		unidade: {},
        pacientes: {},
        paciente: null,
        phone: null,
        paciente_nome: '',
		medico: {},
		servico: {},
		especialidade: {},
		agendamento: {},
		availableDates: [],
		cache: null,
		active: null,
        btnDisabled: false,
        scheduleId: null
	}),

	watch: {
		especialidade(value) {
			if (value)
				this.findDates()
		},
		date() {
			this.shift = null
		}
	},

	mounted() {
		// Get user data
		$.request('onGetUser', {
			success: user => {
				this.user = user;
				this.phone = user.phone;
			},
            error: response => {
                this.error = response.responseJSON.error
            }
		})

		// this.onLoadData(cache())
	},

	methods: {
		onPrevious() {

		    let vm = this

			if (this.step - 1 >= 1)
				this.step -= 1
			else
				this.$router.push({ name: 'home' })

            if ( this.step === 3 ) {

                $.request('onGetPacientes', {
                    success: pacientes => {
                        pacientes.map(paciente => {
                            vm.pacientes[paciente.id] = paciente.nome
                        });

                        vm.pacientes['novo'] = 'Adicionar novo'
                        vm.paciente_nome = '';
                        vm.paciente = '';
                    }
                });

            }
		},

        onFinish() {

		    this.btnDisabled = true;

		    this.onNext();

        },

		onNext() {

			if (this.step + 1 == 3 && !this.user)
				return this.authenticating = true

			if (this.step + 1 == 3 && this.user) {

                let vm = this

                $.request('onGetPacientes', {
                    success: pacientes => {
                        pacientes.map(paciente => {
                            vm.pacientes[paciente.id] = paciente.nome
                        });

                        vm.pacientes['novo'] = 'Adicionar novo'
                        vm.paciente_nome = '';
                        vm.paciente = '';
                    }
                });

                return this.step += 1
            }

			if (this.step + 1 == 5)
				return this.checkout()

			this.step += 1
		},

		onLoadData(data) {
			this.cache = data;
			this.loading = false;
            if (data.length == 0) {
                this.availableDates.push('2020-01-01');
            }
			for (let day in data) {
				if (moment().isBefore(day) && this.cache[day].length > 0) {
                    this.availableDates.push(day);
                }
            }
		},

		onAuth(user) {
			this.user = user
			this.authenticating = false

			this.onNext()
		},

		onItemSelect(item, index) {
			this.doctor = item.medico.id
			this.medico = item.medico
			this.unidade = item.unidade
			this.active = index
			this.timeCode = item.codigo
		},

		onChangedMonth(month) {
			if (month != moment(this.startDate).format('M')) {
				this.loading = true
				this.startDate = moment(month, 'M').format('YYYY-MM-DD')
				this.findDates()
			}
		},

		hasTime(shift) {
			if (!this.cache)
				return false

			let date = this.cache[this.date.toISOString().slice(0,10)],
				valid = false


			for (let current in date) {
				if (date[current][shift].length > 0)
					valid = true
			}

			return valid
		},

		findDates() {
			$.request('onGetAvailableDates', {
				method: 'POST',
				data: {
					start: this.startDate,
					especialidade: this.especialidade.codigo_shosp,
					medico: this.medico.codigo_shosp,
					type: this.$route.params.type
				},
				success: (data) => {
					//console.log("post data of")
					//console.log({start: this.startDate, especialidade: this.especialidade.codigo_shosp, medico: this.medico.codigo_shosp, type: this.$route.params.type})
					//console.log("return of onGetAvailableDates")
					//console.log(data)
                    this.onLoadData(data);
                }
			})
		},

		changePayment(payment) {
			this.payment = payment;
			this.btnDisabled = false;
		},

		checkout() {
			let callback = (data) => {
				this.agendamento = data;
				this.scheduleId = data.id;
				if (this.payment == 'pagseguro') {
					$.request('onCheckout', {
						data: {
							agendamento: this.agendamento.id
						},
						success: response => {
							if (response.checkout_code)
								PagSeguroLightbox(response.checkout_code, {
									success: transactionCode => {
										this.success = true

										$.request('onApproveAgendamento', {
											data: {
												agendamento: this.agendamento.id
											},
											success: () => {
												this.success = true
											}
										})
									},

									abort: () => {
                                        this.btnDisabled = true;
                                    }
								})
						},
                        error: error => {
                            this.btnDisabled = true
                        }
					})
				} else {
					$.request('onApproveAgendamento', {
						data: {
							agendamento: this.agendamento.id
						},
						success: () => {
							this.success = true
						},
                        error: error => {
                            this.btnDisabled = true
                        }
					})
				}
			}
			if (!this.scheduleId) { // Create
				$.request('onCreateAgendamento', {
					data: {
						usuario: this.user.id,
						servico: this.servico.id,
						medico: this.medico.id,
						phone: this.phone,
						especialidade: this.especialidade.codigo_shosp,
						unidade: this.unidade.id,
						horario: this.time,
						codigoHorario: this.timeCode,
                        paciente: this.paciente,
                        paciente_nome: this.paciente_nome,
						data: moment(this.date).format('YYYY-MM-DD')
					},
					success: callback,
                    error: error => {
                        this.btnDisabled = true
                    }
				})
			}  else { // Update
				$.request('onUpdateAgendamento', {
					data: {
						agendamento: this.agendamento.id,
						medico: this.medico.id,
						phone: this.phone,
						servico: this.servico.id,
						unidade: this.unidade.id,
						horario: this.time,
						codigoHorario: this.timeCode,
						data: moment(this.date).format('YYYY-MM-DD')
					},
					success: callback,
                    error: error => {
                        this.btnDisabled = true
                    }
				})
			}

		}
	}
}
</script>

<style lang="scss">
.dr-schedule{
	display: flex;
	flex-flow: column;
	&__toolbar{
	}
	&__title{
		text-align: center;
		margin-bottom: 0;
	}
	&__label{
		text-align: center;
		padding: 24px;
		opacity: .5;
	}
	&__calendar{
	}
	&__shift{
		padding: 0 16px;
	}
	&__wrapper{
		flex: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	&__doctor{
		//
	}
	&__doctors{
		padding: 0 16px;
	}
	&__next{
		width: 100%;
		text-transform: uppercase;
		font-weight: 600;
		border-radius: 0;
	}
	&__body{
		&--date{
			//
		}
		&--doctor{
			//
		}
		&--review{
			padding: 16px;
		}
	}

	&__loading{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.2);
		z-index: 300;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		img{
			width: 40px;
			height: 40px;
		}
		span{
			font-size: 12px;
			font-weight: bold;
		}
	}
	.dr-schedule__footer{
		display: flex;

	}
	&.is-loading{
		pointer-events: none;
		.dr-schedule{
			&__wrapper{
				opacity: 0.1;
			}
		}
	}

	.dr-modal{
		&--register{
			align-items: flex-start;
			padding: 40px 0;
		}
	}

	@include grid-media($smartphone-grid) {
		.dr-schedule{
			&__title{
				display: none;
			}
		}
	}

	@include grid-media($desktop-grid) {
		.dr-schedule{
			&__body{
				padding: 40px 0;
				width: 500px;
				margin: auto;
			}
		}
	}
}
</style>
