<template>
	<dr-dashboard>
		<dr-greetings
			slot="left"
			:title="title"
			action="Sair"
			@callback="onLogout"
			text="Aqui você pode conferir todo o andamento das suas consultas"
		>
			<dr-list-item
				label="Editar dados"
				:active="$route.name == 'dashboard-edit'"
				@click="$router.push({ name: 'dashboard-edit' })"
			>
			</dr-list-item>
			<dr-list-item
				label="Consultas e Exames marcados"
				:active="$route.name == 'dashboard-scheduled'"
				@click="$router.push({ name: 'dashboard-scheduled' })"
			>
			</dr-list-item>
	<!--		<dr-list-item
				label="Meus Agendamentos pendentes"
				:active="$route.name == 'dashboard-pending'"
				:notifications="0"
				@click="$router.push({ name: 'dashboard-pending' })"
			>
			</dr-list-item>-->
			<dr-list-item
				label="Meu histórico"
				:active="$route.name == 'dashboard-history'"
				@click="$router.push({ name: 'dashboard-history' })"
			>
			</dr-list-item>
<!--            <a href="http://lnsconceicao.ddns.com.br:8080/resultado/" target="_blank" style="text-decoration: none;" class="dr-list-item">
                <slot name="prefix">
                </slot>

                <div class="dr-list-item__wrapper">
                    <slot>
                    </slot>

                    <dr-text class="dr-list-item__text" type="strong">
                        Meus resultados
                    </dr-text>
                </div>

                <slot name="suffix">
                </slot>
            </a>-->
		</dr-greetings>

		<router-view slot="right">
		</router-view>
	</dr-dashboard>
</template>

<script>
import DRDashboard from '../templates/DRDashboard.vue'
import DRGreetings from '../organisms/DRGreetings.vue'
import DRListItem from '../atoms/DRListItem.vue'
import DRText from '../atoms/DRText.vue'
import { router } from '../../main'

export default {
	components: {
		'dr-greetings': DRGreetings,
		'dr-list-item': DRListItem,
		'dr-dashboard': DRDashboard,
        'dr-text': DRText
	},

	computed: {
		title() {
			if (!this.user)
				return

			return `Olá,<br/> ${this.user.name}`
		}
	},

	data: () => ({
		user: null
	}),

	beforeRouteEnter(to, from, next) {
		$.request('onGetUser', {
			success: (user) => {
				next(vm => {
					vm.user = user
				})
			},
			error: (response) => {
				router.push({ name: 'auth-login' })
			}
		})
	},

	methods: {
        openUrl: function(url) {
            window.location.href = url;
        },
		onLogout() {
			this.$store.dispatch('logout')
				.then(() => this.$router.push({ name: 'home' }))
		}
	}
}
</script>

<style lang="scss">
</style>
