description = "Default layout"
==
use \Qualitare\Drnahora\Models\Shosp;
function onStart() {
	$this['user'] = Auth::getUser();

	if (env('PAGSEGURO_ENVIRONMENT', 'sandbox') == 'sandbox')
		$this->addJs('https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js');
	else
		$this->addJs('https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js');
}

function onLoadData(){
    return true;
}

function onLoadPost(){
    return true;
}

function onLoadMedicos(){
    return true;
}

function onLoadEspecialidades(){
    $shosp = new Shosp();
    if(isset($this->controller->vars['this']['param']['especialidade'])){
        return $shosp->getEspecialidades($this->controller->vars['this']['param']['especialidade']);
    }else{
        return $shosp->getEspecialidades();
    }
}
==
<!DOCTYPE html>
<html dir="ltr" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doutor na Hora</title>

    <link rel="shortcut icon" href="{{'public/images/favicon.ico'|theme}}" type="image/x-icon">
    <link rel="icon" href="{{'public/images/favicon.ico'|theme}}" type="image/x-icon">

    <link rel="stylesheet" href="{{'public/vendor/bootstrap/css/bootstrap.min.css'|theme}}">
    <link rel="stylesheet" href="{{'public/vendor/fontawesome/css/all.min.css'|theme}}">
    <link rel="stylesheet" href="{{'public/vendor/slick/slick.css'|theme}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Nunito:200,300,400,500,600,700,800">
    <link rel="stylesheet" href="{{'public/css/main.css'|theme}}">
    <!--chat-->
    <script type="text/javascript">var hash_smartzap = "ZDIwZDZiYmI2YzFmOTU2YjE0NWFkYzIyMjZkNmE5NDhkMWY0OTFhNDA0ZDY4NTQ4ODA5NDNlNWMzY2Q5Y2EyNQ"</script>
    <script type="text/javascript" src="https://painel01.smartzap.com.br/webchannel/source/smartzap-web.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140158926-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140158926-1');
    </script>
    <!--  integracao à plataforma RD Station  -->
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/ada6888e-78f7-4bb6-b647-71ca4f1d45a3-loader.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '735421606909472');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=735421606909472&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
    {% page %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="{{'public/vendor/jquery/jquery-3.3.1.min.js'|theme }}"></script>
    {% framework extras %}

    {% scripts %}
    <script src="{{'public/vendor/bootstrap/js/bootstrap.min.js'|theme}}"></script>
    <script src="{{'public/vendor/slick/slick.min.js'|theme}}"></script>
    <script src="{{'public/js/main.bundle.js'|theme}}"></script>
		<script>
			var loadMaps = function() {
				var pos1 = {lat: -7.214437, lng: -35.88397},
					pos2 = {lat: -7.1562623, lng: -34.8410523}

				if (document.getElementById('map-unit-1')) {
					var map1 = new google.maps.Map(document.getElementById('map-unit-1'), {
						center: pos1,
						zoom: 16
					}),
					marker = new google.maps.Marker({position: pos1, map: map1})
				}


				if (document.getElementById('map-unit-2')) {
					var map2 = new google.maps.Map(document.getElementById('map-unit-2'), {
						center: pos2,
						zoom: 16
					}),
					marker = new google.maps.Marker({position: pos2, map: map2})
				}
			}
		</script>

</body>
</html>
