<template>
	<div class="dr-appointment-type">
		<dr-text class="dr-appointment-type__title" type="strong">
			Agendar por
		</dr-text>

		<div class="dr-appointment-type__options">
			<button class="dr-appointment-type__option"
				@click="$emit('select', 'service')"
			>
				<img src="/themes/drnahora/public/images/calendar.svg">
				<dr-text type="label">
					Data e Hora
				</dr-text>
			</button>

			<button class="dr-appointment-type__option"
				@click="$emit('select', 'doctor')"
			>
				<img src="/themes/drnahora/public/images/doctor.svg">
				<dr-text type="label">
					Médico
				</dr-text>
			</button>
		</div>
	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'

export default {
	components: {
		'dr-text': DRText
	}
}
</script>

<style lang="scss">
.dr-appointment-type{
	text-align: center;
	padding: 42px 0;
	&__title{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 42px;
	}
	&__options{
		display: flex;
		justify-content: center;
	}
	&__option{
		width: 140px;
		height: 140px;
		background: white;
		display: inline-flex;
		border: 0;
		border-radius: 7px;
		box-shadow: 0 4px 4px rgba(black, .1);
		margin-bottom: 16px;
		flex-flow: column;
		cursor: pointer;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		margin: 8px;
		img{
			width: 48px;
			height: auto;
		}
	}

	@include grid-media($desktop-grid) {
		padding: 0;
		.dr-appointment-type{
			&__options{
				display: block;
			}
			&__option{
				width: 280px;
				height: 208px;
				padding: 30px;
				img{
					width: auto;
				}
			}
		}
	}
}
</style>
