<template>
	<div class="dr-appointment-payment">
		<dr-input-radio
			:value="value"
			:options="methods"
			@input="$emit('input', $event)"
		/>
	</div>
</template>

<script>
import DRInputText from '../molecules/DRInputText.vue'
import DRInputRadio from '../molecules/DRInputRadio.vue'

export default {
	components: {
		'dr-input-text': DRInputText,
		'dr-input-radio': DRInputRadio
	},

	props: {
		total: {
			type: String|Number,
			default: ''
		},
		value: {
			type: String,
			default: ''
		},
		methods: {
			type: Object,
			default: () => ({
				pagseguro: {
					label: 'Pagar agora com o Pagseguro',
					caption: 'Com desconto de 10%'
				},
				upfront: 'Pagar no dia da consulta'
			})
		}
	}
}
</script>

<style lang="scss">
.dr-appointment-payment{
}

.dr-input-radio__caption {
    color: red !important;
    opacity: 1 !important;
}
</style>
