<template>
	<div class="dr-appointment-review">
<!--        <dr-input-select-->
<!--            label="Paciente"-->
<!--            :options="pacientes"-->
<!--            :value="paciente"-->
<!--            v-model="paciente"-->
<!--        />-->
<!--        <dr-input-text-->
<!--            v-if="paciente === 'novo'"-->
<!--            label="Nome do paciente"-->
<!--            v-model="paciente_nome"-->
<!--        />-->
		<dr-input-text
			label="Serviço"
			:value="service"
			:disabled="true"
		/>
		<dr-input-text
			label="Especialidade"
			:value="speciality"
			:disabled="true"
		/>
		<dr-input-text
			label="Data"
			:value="date"
			:disabled="true"
		/>
		<dr-input-text
			label="Horário"
			:value="time"
			:disabled="true"
		/>
		<dr-input-text
			label="Unidade"
			:value="unit"
			:disabled="true"
		/>
		<dr-input-text
			label="Médico"
			:value="doctor"
			:disabled="true"
		/>
		<dr-input-text
			label="Total"
			:value="total"
			:disabled="true"
		/>
		<dr-input-text
			label="Telefone"
			:value="phone"
			:disabled="true"
		/>
	</div>
</template>

<script>
import DRInputSelect from '../molecules/DRInputSelect.vue'
import DRTitle from '../atoms/DRTitle.vue'
import DRInputText from '../molecules/DRInputText.vue'

export default {
	components: {
        'dr-input-select': DRInputSelect,
		'dr-title': DRTitle,
		'dr-input-text': DRInputText,
	},
	props: {
        pacientes: {
            type: Object,
            default: null
        },
		service: {
			type: String|Number,
			default: null
		},
		speciality: {
			type: String|Number,
			default: null
		},
		specialities: {
			type: Object,
			default: undefined
		},
		date: {
			type: Date|String,
			default: null
		},
		unit: {
			type: String|Number,
			default: null
		},
		phone: {
			type: String|Number,
			default: null
		},
		doctor: {
			type: String|Number,
			default: null
		},
		time: {
			type: String|Number,
			default: null
		},
		total: {
			type: String|Number,
			default: undefined
		}
	}
}
</script>

<style lang="scss">
.dr-appointment-review{
	width: 100%;
	&__header{
		margin-bottom: 72px;
		position: relative;
	}
}
</style>
