<template>
	<div class="dr-doctor-services">
		<dr-text class="dr-doctor-services__label" type="lead">
			O que deseja agendar?
		</dr-text>

		<dr-toggle-service
			class="dr-doctor-services__toggle"
			v-model="type"
			:inline="true"
			@input="$emit('input', null)"
		/>

		<dr-text class="dr-doctor-services__label" type="lead">
			Selecione o serviço
		</dr-text>

		<div class="dr-doctor-services__specialities">
			<dr-list-item
				v-for="(service, id) in services"
				v-bind:key="id"
				:label="service"
				:active="value == id"
				@click="$emit('input', id)"
			>
			</dr-list-item>
		</div>

		<dr-button
			class="dr-doctor-services__button"
			theme="accent"
			:filled="true"
			:disabled="!value"
			@click="$emit('submit')"
		>
			Continuar
		</dr-button>
	</div>
</template>

<script>
import DRButton from '@/components/atoms/DRButton.vue'
import DRText from '@/components/atoms/DRText.vue'
import DRToggleService from '@/components/molecules/DRToggleService.vue'
import DRListItem from '@/components/atoms/DRListItem.vue'

export default {
	components: {
		'dr-button': DRButton,
		'dr-text': DRText,
		'dr-toggle-service': DRToggleService,
		'dr-list-item': DRListItem
	},

	computed: {
		services() {
			if (!this.type)
					return {}

			return this.type === 'consultas' ||  this.type === 'consultasonline'? this.appointments : this.exams
		}
	},

	props: {
		appointments: {
			type: Object,
			default: () => ({
				1: 'Consulta clínico geral'
			})
		},
		exams: {
			type: Object,
			default: () => ({
				2: 'Raio X'
			})
		},
		value: {
			type: String|Number,
			default: null
		}
	},

	data: () => ({
		type: 'consultas'
	})
}
</script>

<style lang="scss">
.dr-doctor-services{
	&__label{
		margin-bottom: 20px;
	}
	&__toggle{
		margin-bottom: 20px;
	}
	&__specialities{
		margin-bottom: 20px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&__button{
		width: 100%;
	}

	@include grid-media($desktop-grid) {
		.dr-doctor-services{
			&__label{
				margin-bottom: 30px;
			}
			&__toggle{
				margin-bottom: 40px;
			}
			&__specialities{
				margin-bottom: 40px;
			}
		}
	}
}
</style>
