<template>
	<div class="dr-footer col-12">
		<!-- Footer -->
		<footer class="footer">
			<div class="footer-content main-center">
				<div class="row">
					<div class="col-12 col-md-4">
						<a class="footer-logo" href="/index.html" title="Doutor na Hora">Doutor na Hora</a>
					</div>
					<div class="col-12 d-block d-sm-none">
						<div class="footer-contact">
							<div class="footer-contact-title">Contato</div>

							<div class="footer-contact-location">
								<ul class="global-dropdown-list footer-contact-list">
									<li class="dropdown-list-item selected">Localização: <span>Campina Grande</span> <i class="dropdown-arrow"></i></li>
									<ul class="dropdown-sublist">
										<li class="dropdown-sublist-item" data-target="campinagrande">
											<a href="javascript:void(0)" title="Campina Grande">Campina Grande</a>
										</li>
									</ul>
								</ul>
							</div>

							<div class="footer-contact-phones">
								<div class="footer-contact-phone active campinagrande">
									(83) 3322-2590<br/> (83) 98194-0606
								</div>
							</div>
						</div>
                        <div class="info-rodape">Responsável técnico: <br> Dr. Rodolfo Igor Palhano Lauro <br> CRM - PB 7688</div>
					</div>
					<div class="col-12 col-md-4">
						<nav class="footer-social">
							<ul class="footer-social-list">
								<li class="footer-social-list-item">
									<a class="facebook" target="_blank" href="https://www.facebook.com/drnahora/" title="Facebook" rel="nofollow">Facebook</a>
								</li>
								<li class="footer-social-list-item">
									<a class="instagram" target="_blank" href="https://www.instagram.com/drnahoracg/" title="Instagram" rel="nofollow">Instagram</a>
								</li>
								<!-- <li class="footer-social-list-item">
									<a class="twitter" target="_blank" href="" title="Twitter" rel="nofollow">Twitter</a>
								</li> -->
							</ul>
						</nav>
					</div>
					<div class="col-12 col-md-4">
						<a class="footer-copyright" target="_blank" href="http://www.qualitare.com/" title="Qualitare" rel="nofollow">Qualitare</a>
					</div>
                    <div class="col-12 col-md-12">
                        <div class="info-rodape">Responsável técnico:  Dr. Rodolfo Igor Palhano Lauro | CRM - PB 7688</div>
                    </div>
				</div>
			</div>
		</footer>
	</div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.dr-footer{
	clear: both;
}
.info-rodape{
    text-align: center;
    color: white;
    padding-top:30px;
    font-weight: 400;
}
@media only screen and (max-width: 680px) {
    .info-rodape {
        padding-top:0;
        padding-bottom: 10px;
        font-weight: 600;
        text-align: left;
        font-size: 14px;
    }
}
</style>
