<template>
	<div class="dr-login">
		<form class="dr-login__form" @submit="onSubmit">
			<header class="dr-login__header">
				<dr-title class="dr-login__title" theme="accent" size="sm">
					Tem uma conta?
				</dr-title>
			</header>

			<div class="dr-login__body">
				<dr-input-text type="email" v-model="email" placeholder="EMAIL">
				</dr-input-text>
				<dr-input-text type="password" v-model="password" placeholder="SENHA">
				</dr-input-text>
				<dr-button class="dr-login__submit" theme="accent" :filled="true">
					Entrar
				</dr-button>

                <div style="margin-top: 20px; display: flex;">
<!--                    <a href="/auth/redirect/facebook" style="margin-right: 20px; text-decoration: none; background-color: #4267b2; padding: 8px 12px; border: 0; color: #ffffff">
                        Entrar com o Facebook
                    </a>-->
                    <a href="/auth/redirect/google" style="text-decoration: none; background-color: #CF4332; padding: 8px 12px; border: 0; color: #ffffff">
                        Entrar com o Google
                    </a>
                </div>
			</div>

			<footer class="dr-login__footer">
				<dr-text type="regular" theme="accent" @click.native="$emit('register')">
					Não tem uma conta?
					<strong>
						Clique aqui para criar.
					</strong>
				</dr-text><br>
				<dr-text type="regular" theme="accent" @click.native="$emit('reset')">
					Esqueceu a senha?
					<strong>
						Clique aqui para resetar.
					</strong>
				</dr-text>
			</footer>
		</form>

		<transition name="fade">
			<dr-alert
				v-if="error"
				type="error"
				:message="error"
				@confirm="error = ''"
				@close="error = ''"
			>
			</dr-alert>
		</transition>
	</div>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRAlert from '../molecules/DRAlert.vue'
import DRButton from '../atoms/DRButton.vue'
import DRInputText from '../molecules/DRInputText.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-alert': DRAlert,
		'dr-button': DRButton,
		'dr-input-text': DRInputText,
	},

	data: () => ({
		email: '',
		password: '',
		error: ''
	}),

	methods: {
	    AuthProvider(provider) {
	        const self = this;

	        console.log(this.$auth);

	        this.$auth.authenticate(provider).then(response => {

	            console.log('SocialLogin', provider, response);

	            self.SocialLogin(provider, response)

            }).catch(err => {
                console.log({err: err})
            })
        },
        SocialLogin(provider, response) {
	        $.request('onSocialLogin', {
	            data: {
                    provider: provider,
                    response: response
                },
                success: response => {
                    console.log( response.data )
                },
                error: err => {
                    console.log({err: err})
                }
            })
        },
		onSubmit(event) {
			event.preventDefault()

			$.request('onLogin', {
				data: {
					email: this.email,
					password: this.password,
				},
				success: user => {
					this.$emit('success', user)
					this.$store.commit('setUser', user)
				},
				error: response => {
					this.error = response.responseJSON.error
				}
			})
		}
	}
}
</script>

<style lang="scss">
.dr-login{
	height: 100%;
	&__form{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100%;
	}
	&__title{
		text-align: center;
		margin: 0;
	}
	&__submit{
		width: 100%;
		margin-top: 24px;
	}
	&__footer{
		border-top: 1px solid rgba(black, .1);
		padding-top: 16px;
		margin-top: 32px;
		.dr-text{
			cursor: pointer;
			transition: .15s $easeInOutQuad;
			&:hover{
				color: saturate(darken($c-accent, 30%), 50%);
			}
		}
		a{
			color: $c-accent;
			font-weight: 700;
		}
	}
	.dr-input-text{
		margin: 8px 0;
	}

	@include grid-media($desktop-grid) {
		.dr-input-text{
			margin: 32px 0;
		}
		.dr-login{
			&__submit{
				margin-top: 48px;
			}
			&__footer{
				padding-top: 32px;
				padding-bottom: 32px;
			}
		}
	}
}
</style>
