<template>
	<div class="dr-login">
		<form class="dr-login__form">
			<header class="dr-login__header">
				<dr-title class="dr-login__title" theme="accent" size="sm">
					Um link de restauração da senha foi enviado para o email informado.
				</dr-title>
			</header>
		</form>

		<transition name="fade">
			<dr-alert
				v-if="error"
				type="error"
				:message="error"
				@confirm="error = ''"
				@close="error = ''"
			>
			</dr-alert>
		</transition>
	</div>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRAlert from '../molecules/DRAlert.vue'
import DRButton from '../atoms/DRButton.vue'
import DRInputText from '../molecules/DRInputText.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-alert': DRAlert,
		'dr-button': DRButton,
		'dr-input-text': DRInputText,
	},

	data: () => ({
	}),

	methods: {
	}
}
</script>

<style lang="scss">
.dr-login{
	height: 100%;
	&__form{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100%;
	}
	&__title{
		text-align: center;
		margin: 0;
	}
	&__submit{
		width: 100%;
		margin-top: 24px;
	}
	&__footer{
		border-top: 1px solid rgba(black, .1);
		padding-top: 16px;
		margin-top: 32px;
		.dr-text{
			cursor: pointer;
			transition: .15s $easeInOutQuad;
			&:hover{
				color: saturate(darken($c-accent, 30%), 50%);
			}
		}
		a{
			color: $c-accent;
			font-weight: 700;
		}
	}
	.dr-input-text{
		margin: 8px 0;
	}

	@include grid-media($desktop-grid) {
		.dr-input-text{
			margin: 32px 0;
		}
		.dr-login{
			&__submit{
				margin-top: 48px;
			}
			&__footer{
				padding-top: 32px;
				padding-bottom: 32px;
			}
		}
	}
}
</style>
