<template>
	<div class="dr-login">
		<form class="dr-login__form" @submit="onSubmit">
			<header class="dr-login__header">
				<dr-title class="dr-login__title" theme="accent" size="sm">
					Digite a nova senha
				</dr-title>
			</header>

			<div class="dr-login__body">
				<dr-input-text type="password" v-model="password" placeholder="SENHA" required>
				</dr-input-text>
				<dr-input-text type="password" v-model="confirm_password" placeholder="CONFIRMAR SENHA" required>
				</dr-input-text>
				<dr-button class="dr-login__submit" theme="accent" :filled="true">
					Entrar
				</dr-button>
			</div>
		</form>
	</div>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRAlert from '../molecules/DRAlert.vue'
import DRButton from '../atoms/DRButton.vue'
import DRInputText from '../molecules/DRInputText.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-alert': DRAlert,
		'dr-button': DRButton,
		'dr-input-text': DRInputText,
	},

	data: () => ({
		password: '',
		confirm_password: ''
	}),

	methods: {
		onSubmit(event) {
            const id = this.$route.params.id;
            const code = this.$route.params.code;
            if (!this.password || !this.confirm_password || this.password !== this.confirm_password) {
                alert('As senhas precisam ser iguais');
                return false;
            }
            if (this.password.length < 8) {
                alert('A senha precisa ter 8 dígitos');
                return false;
            }
			event.preventDefault();
			$.request('onReset', {
				data: {
					id: id,
					code: code,
					password: this.password
				},
				success: user => {
                    alert('Concluído. Faça o login com os novos dados');
					this.$emit('login', user);
				},
				error: error => {
                    alert('Problemas na requisição. tente novamente!');
                    return false;
				}
			})
		}
	}
}
</script>

<style lang="scss">
.dr-login{
	height: 100%;
	&__form{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100%;
	}
	&__title{
		text-align: center;
		margin: 0;
	}
	&__submit{
		width: 100%;
		margin-top: 24px;
	}
	&__footer{
		border-top: 1px solid rgba(black, .1);
		padding-top: 16px;
		margin-top: 32px;
		.dr-text{
			cursor: pointer;
			transition: .15s $easeInOutQuad;
			&:hover{
				color: saturate(darken($c-accent, 30%), 50%);
			}
		}
		a{
			color: $c-accent;
			font-weight: 700;
		}
	}
	.dr-input-text{
		margin: 8px 0;
	}

	@include grid-media($desktop-grid) {
		.dr-input-text{
			margin: 32px 0;
		}
		.dr-login{
			&__submit{
				margin-top: 48px;
			}
			&__footer{
				padding-top: 32px;
				padding-bottom: 32px;
			}
		}
	}
}
</style>
