<template>
	<div class="dr-register">
		<form class="dr-register__form" @submit="onSubmit">
			<header class="dr-register__header">
				<dr-title class="dr-register__title" theme="accent" size="sm">
					Cadastro
				</dr-title>
			</header>

			<form class="dr-register__body" @submit="onSubmit">
				<dr-input-text
					type="text"
					name="name"
					v-validate="'required'"
					v-model="name"
					placeholder="Nome"
					:error="errors.first('name')"
				>
				</dr-input-text>
				<dr-input-text
					type="text"
					name="surname"
					v-validate="'required'"
					v-model="surname"
					placeholder="Sobrenome"
					:error="errors.first('surname')"
				>
				</dr-input-text>

				<dr-input-text
					type="email"
					name="email"
					v-validate="'required|email|min:5'"
					v-model="email"
					placeholder="Email"
					:error="errors.first('email')"
				>
				</dr-input-text>
				<dr-input-text 
					type="text" 
					name="phone"
					v-validate="'required'"
					v-model="phone"
                    :mask="{phone : true, phoneRegionCode : 'br'}"
					placeholder="Telefone"
					:error="errors.first('phone')"
				>
				</dr-input-text>
				<dr-text class="dr-register__caption" type="caption">
					Não é necessário inserir o prefixo "9" no telefone.
				</dr-text>
				</dr-input-text>
				<dr-input-text 
					type="text" 
					name="cel"
					v-model="cel"
                    :mask="{phone : true, phoneRegionCode : 'br'}"
					placeholder="Celular"
					:error="errors.first('cel')"
				>
				</dr-input-text>
				<dr-text class="dr-register__caption" type="caption">
					Não é necessário inserir o prefixo "9" no telefone.
				</dr-text>

				<dr-input-text
					type="password"
					name="password"
					v-validate="'required'"
					v-model="password"
					placeholder="Senha"
					:error="errors.first('password')"
				>
				</dr-input-text>
				<dr-button class="dr-register__submit" theme="accent" :filled="true">
					Cadastrar-me
				</dr-button>
			</form>

			<footer class="dr-register__footer">
				<dr-text type="regular" theme="accent" @click.native="$emit('login')">
					Já tem uma conta?
					<strong>
						Clique aqui para entrar.
					</strong>
				</dr-text><br>
				<dr-text type="regular" theme="accent" @click.native="$emit('reset')">
					Esqueceu a senha?
					<strong>
						Clique aqui para resetar.
					</strong>
				</dr-text>
			</footer>
		</form>

		<transition name="fade">
			<dr-alert
				v-if="error"
				type="error"
				:message="error"
				@confirm="error = ''"
				@close="error = ''"
			>
			</dr-alert>
		</transition>
	</div>

</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRButton from '../atoms/DRButton.vue'
import DRInputText from '../molecules/DRInputText.vue'
import DRAlert from '../molecules/DRAlert.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-button': DRButton,
		'dr-input-text': DRInputText,
		'dr-alert': DRAlert,
	},

	data: () => ({
		name: '',
		surname: '',
		email: '',
		phone: '',
		cel: '',
		password: '',
		error: ''
	}),

	methods: {
		onSubmit(event) {
			event.preventDefault()

			this.$validator.validate()
				.then(success => {
					if (success)
						$.request('onRegister', {
							data: {
								name: this.name + ' ' + this.surname,
								email: this.email,
								phone: this.phone,
								cel: this.cel,
								password: this.password,
							},
							success: user => {
								this.$emit('success', user)
								this.$store.commit('setUser', user)
							},
							error: response => {
								this.error = response.responseJSON.error
							}
						})
				})
		}
	}
}
</script>

<style lang="scss">
.dr-register{
	height: 100%;
	&__form{
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
	&__title{
		text-align: center;
		margin: 0;
	}
	&__submit{
		width: 100%;
		margin-top: 24px;
	}
	&__footer{
		border-top: 1px solid rgba(black, .1);
		padding-top: 16px;
		margin-top: 32px;
		.dr-text{
			cursor: pointer;
			transition: .15s $easeInOutQuad;
			&:hover{
				color: saturate(darken($c-accent, 30%), 50%);
			}
		}
		a{
			color: $c-accent;
			font-weight: 700;
		}
	}
	&__caption{
		text-transform: uppercase;
		opacity: .5;
		margin-top: -15px;
	}
	.dr-input-text{
		margin: 8px 0;
	}

	@include grid-media($desktop-grid) {
		.dr-input-text{
			margin: 32px 0;
		}
		.dr-register{
			&__submit{
				margin-top: 48px;
			}
			&__footer{
				padding-top: 32px;
				padding-bottom: 32px;
			}
		}
	}
}
</style>
