<template>
	<div>
        Aguarde...
	</div>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRAlert from '../molecules/DRAlert.vue'
import DRButton from '../atoms/DRButton.vue'
import DRInputText from '../molecules/DRInputText.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-alert': DRAlert,
		'dr-button': DRButton,
		'dr-input-text': DRInputText,
	},

    beforeRouteEnter(to, from, next) {

        $.request('onSocialLogin', {
            data: {
                provider: to.params.provider,
                token: to.query.token
            },
            success: user => {
                next(vm => {
                    vm.user = user
                });
            },
            error: response => {
                this.error = response.responseJSON.error
            }
        })

    },

	data: () => ({
		user: ''
	}),

    mounted() {

        this.$emit('success', this.user)
        this.$store.commit('setUser', this.user)

    },
}
</script>
