<template>
	<div class="dr-unities dr-dark">
		<div class="dr-unities__slideshow swiper-container">
			<div class="swiper-wrapper">
				<div class="dr-unities__slide swiper-slide" v-for="(slide, index) in slides" :key="index">
					<div class="dr-unities__holder">
						<div class="dr-unities__content">
							<dr-title class="dr-unities__title">
								{{ slide.title }}
							</dr-title>

							<dr-text type="body">
								{{ slide.address }}
							</dr-text>

							<nav class="dr-unities__nav">
								<div>
									<dr-text type="strong">
										Traçar rota:
									</dr-text>
									<dr-button class="dr-button--dark" theme="accent" :filled="true" @click="onGoogleClick(slide.address)">
										Google Maps
									</dr-button>
								</div>
								<div>
									<dr-text type="strong">
										Horários de Atendimento:
									</dr-text>
									<dr-text v-for="(time, index) in slide.availability" v-bind:key="index">
										{{ time }}
									</dr-text>
								</div>
							</nav>
						</div>
					</div>

					<div class="dr-unities__thumbnail" :style="{ backgroundImage: `url(${slide.thumbnail})` }">
					</div>
				</div>
			</div>

			<dr-map class="dr-unities__map" :center="coords" :zoom="14">
			</dr-map>
		</div>

		<div class="dr-unities__next">
			<span>
				Próximo
			</span>
		</div>
	</div>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRButton from '../atoms/DRButton.vue'
import DRMap from '../atoms/DRMap.vue'
import Swiper from 'swiper'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-button': DRButton,
		'dr-map': DRMap
	},

	props: {
		slides: {
			type: Array,
			default: () => ([
				{
					title: 'Lorem ipsum sit amet',
					address: 'R. João Alves de Oliveira, 189 - Centro, Campina Grande - PB',
					coords: { lat: -7.218560, lng: -35.885111 },
					thumbnail: 'https://placeimg.com/640/480/nature',
					availability: [
						'2ª à 6ª das 06:30 às 18:00',
					]
				},
				{
					title: 'OMG',
					address: 'R. João Alves de Oliveira, 189 - Centro, Campina Grande - PB',
					coords: { lat: 0, lng: 0 },
					thumbnail: 'https://placeimg.com/640/480/any',
					availability: [
						'2ª à 6ª das 06:30 às 18:00',
						'Sábado das 07:00 às 11:00'
					]
				},
			])
		}
	},

	data: () => ({
		swiper: null,
		coords: { lat: 0, lng: 0 }
	}),

	mounted() {
		if (this.slides.length > 0)
			this.coords = this.slides[0].coords

		this.swiper = new Swiper(this.$el.querySelector('.swiper-container'), {
			slidesPerView: 'auto',
			effect: 'fade',
			loop: true,
			simulateTouch: false,
			navigation: {
				nextEl: this.$el.querySelector('.dr-unities__next')
			},
			on: {
				slideChange: () => {
					if (this.swiper) {
						let index = this.swiper.realIndex

						this.coords = this.slides[index].coords
					}
				}
			}
		})
	},

	methods: {
		onGoogleClick(address) {
			let query = encodeURIComponent(address)
			window.open('https://www.google.com/maps/search/?api=1&query=' + query, '_blank')
		}
	}
}
</script>

<style lang="scss">
.dr-unities{
	width: 100%;
	position: relative;
	&__holder{
		background: $c-accent;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 20px 40px;
	}
	&__thumbnail{
		height: 200px;
		background-color: rgba(black, .5);
		background-position: center;
		background-size: cover;
	}
	&__nav{
		> div{
			margin-top: 30px;
		}
	}

	@include grid-media($desktop-grid) {
		.dr-unities{
			&__holder{
				width: 60%;
				height: 50%;
				padding: 20px 0px 40px;
			}
			&__content{
				width: 100%;
				max-width: 444px;
			}
			&__slideshow{
				width: 90%;
				height: 800px;
				margin: 0 !important;
			}
			&__slide{
				display: flex;
			}
			&__map{
				width: 60%;
				height: 400px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 30;
			}
			&__thumbnail{
				width: 40%;
				height: 100%;
			}
			&__title{
				margin-top: 0;
			}
			&__nav{
				display: flex;
				> div{
					width: 50%;
					.dr-text--strong{
						margin-bottom: 10px;
					}
				}
			}
			&__next{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 10%;
				background: $c-black;
				cursor: pointer;
				z-index: 20;
				span{
					bottom: 20px;
					left: 20px;
					position: absolute;
					color: white;
					text-transform: uppercase;
					font-family: Dosis;
					font-weight: 700;
				}
			}
		}
	}
}
</style>
