<template>
	<button class="dr-button"
		:class="[
			`dr-button--${theme}`,
			`dr-button--${size}`,
			{
				'is-filled': filled
			}
		]"
		@click="$emit('click', $event)"
	>
		<slot></slot>
	</button>
</template>

<script>
export default {
	props: {
		theme: {
			type: String,
			default: 'default' // default|primary|secondary|accent
		},
		size: {
			type: String,
			default: 'md', // xs|sm|md|lg
		},
		filled: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.dr-button{
	border-radius: 7px;
	font-family: Dosis;
	font-weight: 800;
	background-color: transparent;
	letter-spacing: 0.006em;
	cursor: pointer;
	border: 2px solid transparent;
	transition: background-color .15s $easeInOutQuad,
		color .3s $easeInOutQuad;

	// Theme
	&--default{
		color: black;
		background-color: transparent;
		&.is-filled{
			color: white;
			background-color: black;
		}
	}
	&--primary{
		color: $c-primary;
		border-color: $c-primary;
		&.is-filled{
			color: white;
			background-color: darken($c-primary, 10%);
		}
	}
	&--secondary{
		color: $c-secondary;
		border-color: $c-secondary;
		&.is-filled{
			color: white;
			background-color: $c-secondary;
		}
	}
	&--accent{
		color: $c-accent;
		border-color: $c-accent;
		&.dr-button--sm{
			color: $c-black;
		}
		&.is-filled{
			color: white;
			background-color: $c-accent;
		}
	}

	// Size
	&--xs{
		padding: 6px 16px;
		font-size: 14px;
		font-weight: 600;
	}
	&--sm{
		padding: 6px 16px;
		font-size: 14px;
	}
	&--md{
		padding: 12px 32px;
		font-size: 16px;
		line-height: 28px;
	}
	&--lg{
		padding: 16px 48px;
		font-size: 18px;
		line-height: 28px;
	}

	&--dark{
		background: white !important;
		color: $c-accent !important;
	}

	&:disabled{
		background: lightgrey !important;
		border-color: lightgrey !important;
		cursor: default;
	}
}

.dr-dark{
	.dr-button{
		&--accent{
			&.dr-button--sm{
				color: white;
			}
		}
	}
}
</style>
