<template>
	<div class="dr-map">
		<div class="dr-map__wrapper">
		</div>
		<div class="dr-map__nav">
			<slot></slot>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		markers: {
			type: Object,
			default: () => {}
		},
		center: {
			type: Object,
			default: () => ({ lat: 0, lng: 0 })
		},
		zoom: {
			type: Number,
			default: 12
		},
		default: {
			type: String,
			default: ''
		}
	},

	data: () => ({
		map: null,
		current: '',
		groups: []
	}),

	mounted() {
		this.$root.$once('maps-init', this.init)

		if (window.google !== undefined)
			this.init(window.google.maps)
	},

	methods: {
		init(maps) {
			// Instantiate Google Map object
			this.map = new maps.Map(this.$el.querySelector('.dr-map__wrapper'), {
				center: this.center,
				zoom: this.zoom,
				gestureHandling: 'cooperative'
			})

			// Add marker to center
			this.marker = new maps.Marker({
				position: this.center,
				map: this.map
			})

			// Add group markers
			for (let key in this.markers) {
				this.groups[key] = this.markers[key].map(position => {
					return new maps.Marker({
						position: position,
						map: this.map
					})
				})
			}

			// Set the default group
			if (this.groups[this.default])
				this.toggle(this.default)
		},

		toggle(group) {
			for (let key in this.markers) {
				this.groups[key].forEach(
					marker => marker.setVisible(key == group)
				)
			}

			this.current = group
		},
	},
	
	watch: {
		center(position) {
			if (this.marker)
				this.marker.setPosition(position)

			this.map.setCenter(position)
		}
	}
}
</script>

<style lang="scss">
.dr-map{
	height: 400px;
	position: relative;
	&__wrapper{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__nav{
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 5;
	}
}
</style>
