<template>
	<span class="dr-title"
		:class="[
			`dr-title--${theme}`,
			`dr-title--${size}`
		]"
	>
		<slot></slot>
	</span>
</template>

<script>
export default {
	props: {
		theme: {
			type: String,
			default: 'default' // default|primary|secondary|accent
		},

		size: {
			type: String,
			default: 'md' // sm|md|lg
		}
	}
}
</script>

<style lang="scss">
.dr-title{
	font-family: Dosis;
	font-weight: 600;
	color: $c-black;
	display: block;
	margin: .5em 0;

	&--default{
		color: $c-black;
	}
	&--primary{
		color: $c-primary;
	}
	&--secondary{
		color: $c-secondary;
	}
	&--accent{
		color: $c-accent;
	}

	// Size
	&--xs{
		font-size: 28px;
		font-weight: 600;
		line-height: 32px;
		letter-spacing: 0.004em;
	}
	&--sm{
		font-size: 32px;
		font-weight: 700;
		line-height: 43px;
		letter-spacing: 0.004em;
	}
	&--md{
		font-size: 48px;
		line-height: 48px;
		letter-spacing: 1px;
	}
	&--lg{
	}
}

.dr-dark{
	.dr-title{
		color: white;
	}
}
</style>
