<template>
	<div class="dr-appointment-list">
		<dr-text class="dr-appointment-list__title" type="strong">
			{{ title }}
		</dr-text>

		<div class="dr-appointment-list__cards">
			<dr-card-appointment
				v-for="(appointment, index) in appointments"
				:key="index"
				:speciality="appointment.speciality"
				:doctor="appointment.doctor"
				:date="appointment.date | date"
				:time="appointment.time | time"
				:endereco="appointment.endereco"
				:action="appointment.action"
				@callback="$emit('callback', appointment)"
			>
			</dr-card-appointment>
		</div>
	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'
import DRCardAppointment from '../molecules/DRCardAppointment.vue'
import date from '../../filters/date'
import time from '../../filters/time'

export default {
	components: {
		'dr-text': DRText,
		'dr-card-appointment': DRCardAppointment,
	},

	filters: {
		date: date,
		time: time
	},

	props: {
		title: {
			type: String,
			default: 'Lorem ipsum sit amet'
		},
		appointments: {
			type: Array,
			default: () => ([])
		}
	}
}
</script>

<style lang="scss">
.dr-appointment-list{
	width: 100%;
	&__title{
		text-transform: uppercase;
		text-align: center;
	}
	&__cards{
		margin: 80px 0;
	}
	.dr-card-appointment{
		margin-bottom: 16px;
	}
}
</style>
