<template>
	<div class="dr-form-edit">
		<dr-text class="dr-form-edit__title" type="strong">
			{{ title }}
		</dr-text>

			<form class="dr-register__body" @submit="onSubmit">
				<dr-input-text
					type="text"
					name="name"
					v-validate="'required'"
					v-model="name"
					placeholder="Nome"
					:error="errors.first('name')"
				>
				</dr-input-text>

				<dr-input-text
					type="email"
					name="email"
					v-validate="'required|email|min:5'"
					v-model="email"
					placeholder="Email"
					:error="errors.first('email')"
				>
				</dr-input-text>
				<dr-input-text 
					type="text" 
					name="phone"
					v-validate="'required'"
					v-model="phone"
                    :mask="{phone : true, phoneRegionCode : 'br'}"
					placeholder="Telefone"
					:error="errors.first('phone')"
				>
				</dr-input-text>
				<dr-text class="dr-register__caption" type="caption">
					Não é necessário inserir o prefixo "9" no telefone.
				</dr-text>
				</dr-input-text>
				<dr-input-text 
					type="text" 
					name="password"
					v-model="password"
					placeholder="Senha"				>
				</dr-input-text>
				<dr-button class="dr-register__submit" theme="accent" :filled="true">
					Salvar dados
				</dr-button>
			</form>
	</div>
</template>

<script>
import date from '../../filters/date'
import time from '../../filters/time'
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRButton from '../atoms/DRButton.vue'
import DRInputText from '../molecules/DRInputText.vue'
import DRAlert from '../molecules/DRAlert.vue'


export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-button': DRButton,
		'dr-input-text': DRInputText,
		'dr-alert': DRAlert,
	},
	filters: {
		date: date,
		time: time
	},
	props: {
		title: {
			type: String,
			default: 'Lorem ipsum sit amet'
		},
		name: '',
		email: '',
		phone: '',
		password: ''
	},
	methods: {
		onSubmit(event) {
			event.preventDefault()

			this.$validator.validate()
				.then(success => {
					if (success)
						$.request('onUpdate', {
							data: {
								name: this.name,
								email: this.email,
								phone: this.phone,
								password: this.password,
							},
							success: user => {
								this.$store.commit('setUser', user);
								alert('Dados atualizados');
							},
							error: response => {
								this.error = response.responseJSON.error
							}
						})
				})
		}
	}
}
</script>

<style lang="scss">
.dr-appointment-list{
	width: 100%;
	&__title{
		text-transform: uppercase;
		text-align: center;
	}
	&__cards{
		margin: 80px 0;
	}
	.dr-card-appointment{
		margin-bottom: 16px;
	}
}
</style>
