body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9fafc;
  line-height: 26px;
  font-size: 16px;
  color: #000;
}

button, input {
  outline: none;
}

* {
  outline: none !important;
}

#dr-app{
    width: 100%;
}
