.header {
  position: relative;
  z-index: 400;
  margin-left: -15px;
  margin-right: -15px;
  height: 88px;
  
  @media screen and (max-width: 1140px) {
    padding: 0 15px;
    background: #0B3CC5;
  }

  &.wbg {
    background: #0B3CC5;
  }

  .header-content {
    height: 88px;
    border-bottom: 1px solid rgba(249, 250, 252, 0.2);

    .header-logo {
      @include transition(all ease 150ms);
      @include sprite($logo-2x);
      float: left;
      display: block;
      position: relative;
      top: 24px;
      text-indent: -9999px;

      @media screen and (max-width: 1140px) {
        @include sprite($logo-mobile);
      }

      &:hover {
        @include transform(scale(1.1));
      }
    }

    .header-menu-button {
      position: absolute;
      top: 35px;
      right: 15px;
      display: block;
      margin: 0;
      padding: 0;
      display: block;
      border: none;
      background: transparent;
			z-index: 100;

      .icon {
        @include sprite($menu-mobile);
        display: block;
      }
    }

    .header-menu {
      @extend .dosis-bold;
      float: right;
      position: relative;
      top: 27px;
      font-size: 14px;
      line-height: 18px;
			&-avatar{
				width: 40px;
				height: 40px;
				border-radius: 40px;
				background-position: center;
				background-color: lightgrey;
				background-size: cover;
			}

      &.active {
        display: block;
      }

      @media screen and (max-width: 1140px) {
        display: none;
        position: absolute;
        top: 88px;
        left: 0;
        width: 100%;
        box-shadow: 4px 12px 30px rgba(0, 0, 0, .1);
      }

      .header-menu-list {
        margin: 0;
        padding: 0;
        list-style: none;

				@media screen and (min-width: 1141px) {
					display: flex;
					align-items: center;
				}
          
        @media screen and (max-width: 1140px) {
          padding: 0 15px;
          background: #0B3CC5;
        }

        .header-menu-list-item {
          display: inline-block;
          margin-right: 25px;

          @media screen and (max-width: 1140px) {
            margin: 0;
            padding: 15px 0;
            display: block;
            border-bottom: 1px solid rgba(249,250,252,.2);
          }

          &:last-child {
            margin-right: 0;

            @media screen and (max-width: 1140px) {
              border-bottom: none;
            }
          }

          &.active {
            a {
              .header-menu-list-item-border {
                display: block;
                position: absolute;
                bottom: -17px;
                content: "";
                width: 100%;
                height: 2px;
                background: #fff;

                @media screen and (max-width: 1140px) {
                  display: none;
                }
              }
            }
          }

          a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: #fff;
						padding: 13px 0;

            .header-menu-list-item-icon {
              position: relative;
              top: -5px;
              margin-right: 25px;
              margin-bottom: -9px;
            }

            .header-menu-list-item-border {
              display: none;
            }
          }
        }
      }

      .header-menu-list-border {
        position: absolute;
        opacity: 0;
        bottom: -17px;
        width: 10px;
        height: 2px;
        background: #fff;
      }
    }
  }
}
