body {
  overflow-x: hidden;
}

.wrapper.home {
  background: url('./public/images/bg-home.svg') center top no-repeat;
  background-size: 100% auto;

  @media screen and (max-width: 768px) {
    background: url('./public/images/bg-home-2x-1.png') -150px -300px no-repeat;
  }


  
  @keyframes mouse-icon-animation {
    0% {
      top: 6px;
    }

    50% {
      top: 8px;
    }

    100% { top: 6px; }
  }

  .mouse-icon {
    position: absolute;
    top: 580px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #fff;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .mouse-icon-scroll {
      position: relative;
      top: 6px;
      left: 50%;
      margin-left: -0.5px;
      width: 2px;
      height: 4px;
      border-radius: 10px;
      background: #fff;
      animation: mouse-icon-animation 500ms ease infinite;
    }
  }

  .home-parallax {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0;
    right: 0;

    .p1,
    .p2,
    .p3 {
      position: absolute;
    }

    .p1 {
      top: 430px;
      left: 0;
    }

    .p2 {
      top: 400px;
      right: 0;
    }

    .p3 {
      top: 1900px;
      right: 100px;
    }
  }

  .first-title {
    margin-top: 104px;

    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }
  }

  .section-excerpt {
    @media screen and (max-width: 768px) {
      margin: 30px 0;
    } 
  }

  .global-searchbar-form {
    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }
  }

  .specialties-link {
    @extend .dosis-bold;
    font-size: 14px;
    line-height: 40px;
    text-decoration: underline;
    color: #61FAE9;
  }

  .cardinfo-list {
    margin-top: 450px;

    @media screen and (max-width: 768px) {
      margin-top: 200px;
    }

    .cardinfo-list-item {
      margin-bottom: 25px;
      padding: 40px 25px;
      border-radius: 10px;
      background: #fff;

      .cardinfo-list-item-title {
        @extend .dosis-bold;
        margin: 0 0 15px 0;
        font-size: 32px;
        line-height: 38px;
        color: #FF206E;

        span {
          @media screen and (max-width: 768px) {
            margin-top: 15px;
            display: block;
            font-size: 24px;
            color: #1A2239;
          }
        }
      }

      .cardinfo-list-item-excerpt {
        @extend .nunito-regular;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        color: rgba(26, 34, 57, 0.5);
      }
    }
  }

  .tryservice {
    margin-top: 100px;

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }

    .global-link {
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
      }
    }

    .tryservice-illustration {
      display: block;
      margin: 0;
      width: 90%;

      @media screen and (max-width: 768px) {
        position: relative;
        left: -60px;
        margin: 30px 0 0;
      }
    }

    .tryservice-post {
      .section-label {
        margin-top: 50px;
      }

      .section-title {
        margin-bottom: 25px;
        color: #1A2239;
      }

      .section-excerpt {
        color: rgba(0, 0, 0, 0.7);
      }
    }

		@media screen and (max-width: 768px) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
  }

  .testimonials {
    margin: -8px -15px 0 -15px;
    padding: 90px 0;
    background: #0B3CC5;

    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }

    .section-label {
      text-align: center;
      color: rgba(249, 250, 252, 0.6);
    }

    .section-title {
      margin: 0 0 90px;
      text-align: center;
      color: #F9FAFC;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .testimonials-slides {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;

      &:before,
      &:after {
        position: absolute;
        z-index: 98;
        top: -20px;
        display: block;
        content: "";
        width: 10%;
        height: 100%;
        background: #000;
      }
      
      &:before {
        left: -5px;
        background: linear-gradient(to right, #0B3CC5 50%, transparent 75%);
      }

      &:after {
        right: -5px;
        background: linear-gradient(to left, #0B3CC5 50%, transparent 75%);
      }

      .slick-dots {
        margin: 90px 0 0 0;
        padding: 0;
        line-height: 8px;
        list-style: none;
        text-align: center;

        @media screen and (max-width: 768px) {
          margin-top: 30px;
        }

        li {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          &.slick-active {
            button {
              background: #37DB90;
            }
          }

          button {
            @include transition(all ease 250ms);
            cursor: pointer;
            display: block;
            margin: 0;
            padding: 0;
            width: 8px;
            height: 8px;
            border: none;
            border-radius: 9999px;
            text-indent: -9999px;
            background: #517DE8;
          }
        }
      }

      .testimonials-slides-item {
        @include transition(all ease 250ms);
        margin: 0 5px;
        border: 1px solid #fff;
        // max-width: 635px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);
        text-align: center;

        @media (min-width: 1200px) {
          margin: 0 15px;
        }

        &.slick-active {
          background: #F9FAFC;
          
          .testimonials-slides-item-name,
          .testimonials-slides-item-age,
          .testimonials-slides-item-content {
            color: #1A2239;
          }
        }

        .testimonials-slides-item-name {
          @extend .dosis-bold;
          margin: 0 0 15px;
          font-size: 24px;
          line-height: 32px;
          color: rgba(249, 250, 252, 0.2);
        }

        .testimonials-slides-item-age {
          @extend .dosis-regular;
          margin: 0 0 25px;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 15px;
          color: rgba(249, 250, 252, 0.2);
        }

        .testimonials-slides-item-content {
          @extend .nunito-regular;
          font-size: 16px;
          line-height: 24px;
          color: rgba(249, 250, 252, 0.2);
        }
      }

    }
  }

  @keyframes location-slides-nav-button-icon-animation {
    0% { left: 0; }

    50% { left: 5px; }

    100% { left: 0; }
  }

  .location {
    margin-left: -15px;
    padding-left: 15px;
    background: #FF206E;

    .location-places {
      position: relative;
      height: 300px;

      @media screen and (min-width: 1400px) {
        padding-left: 150px;
      }

      @media screen and (min-width: 1600px) {
        padding-left: 200px;
      }

      @media screen and (min-width: 1920px) {
        padding-left: 250px;
      }
      
      .location-places-item {
        @include transition(all ease 250ms);
        top: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 300px;

        &.active {
          opacity: 1;
        }

        .location-places-item-title {
          @extend .dosis-semibold;
          margin: 0 0 15px 0;
          line-height: 48px;
          font-size: 48px;
          color: #fff;
        }
        
        .location-places-item-description {
          @extend .nunito-regular;
          margin-bottom: 30px;
          line-height: 24px;
          font-size: 16px;
          color: #fff;
        }
        
        .location-places-item-section {
          @extend .nunito-bold;
          line-height: 24px;
          font-size: 14px;
          color: #fff;
        }

        .location-places-item-link {
          @extend .dosis-extrabold;
          background: #fff;
          color: #FF206E;
        }
      }
    }

    .location-maps {
      height: 300px;
			.map-container{
				height: 100%;
			}
      
      .location-maps-item {
        @include transition(all ease 250ms);
        opacity: 0;
        position: absolute;
        left: 0;
        right: -15px;
        height: 300px;

        &.active {
          opacity: 1;
        }
      }
    }

    .location-slides {
      position: relative;
      margin-right: -15px;
      height: 600px;

      .location-slides-nav {
        @include transition(all ease 250ms);
        z-index: 1;
        cursor: pointer;
        right: 0;
        position: absolute;
        width: 25%;
        height: 600px;
        background: #000;

        &.active {
          width: 75%;
          
          .location-slides-nav-button {
            left: 30px;

            .icon {
              animation: location-slides-nav-button-icon-animation 500ms ease infinite;
            }
          }
        }

        .location-slides-nav-button {
          @include transition(all ease 250ms);
          @extend .dosis-regular;
          position: absolute;
          left: 15px;
          bottom: 15px;
          background: transparent;
          border: none;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 12px;
          line-height: 15px;
          color: #fff;

          .icon {
            @include sprite($arrow-right-2x);
            display: inline-block;
            position: relative;
            top: 2px;
          }
        }
      }

      .location-slides-item {
        @include transition(all ease 250ms);
        z-index: 0;
        left: 0;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        width: 75%;
        height: 600px;

        &.active {
          opacity: 1;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .bloghome {
    padding: 90px;

    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }

    .section-label,
    .section-title {
      text-align: center;
      color: #1A2239;
    }

    .section-title {
      margin-bottom: 90px;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .global-blog-post-item {
      margin-bottom: 90px;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .global-link {
      @media screen and (max-width: 768px) {
        display: block;
        margin: 30px 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}
