.wrapper.medicos {

  .medicos-category-list-arrow {
    @include transition(all ease 250ms);
    cursor: pointer;
    position: absolute;
    top: 43px;
    display: block;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 9999px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    &.slick-disabled {
      opacity: 0;
    }

    &:hover {
      box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
      
      .icon {
        @include transform(scale(1.1));
      }
    }

    &.prev {
      left: -40px;
      
      .icon {
        @include sprite($arrow-left-2-2x);
      }
    }

    &.next {
      right: -40px;
      
      .icon {
        @include sprite($arrow-right-2-2x);
      }
    }

    .icon {
      @include transition(all ease 250ms);
      display: inline-block;
    }
  }

  .medicos-category-list {
    margin: 0 0 90px;
  }

  .section-title {
    margin-bottom: 25px;
    line-height: 43px;
    font-size: 32px;
    color: #000;
  }

  .medico-card {
    @include transition(all ease 250ms);
    display: block;
    margin-bottom: 30px;
    padding: 30px 25px;
    background: #fff;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
      box-shadow: 4px 12px 30px rgba(0, 0, 0, 0.1); 
      
      .medico-card-thumb {
        @include transform(scale(1.1));
      }
    }

    .medico-card-thumb {
      @include transition(all ease 250ms);
      display: block;
      margin-bottom: 25px;
      width: 64px;
      height: 64px;
      border-radius: 9999px;
			background-position: center;
			background-size: cover;
    }

    .medico-card-name {
      @extend .dosis-semibold;
      display: block;
      margin-bottom: 15px;
      line-height: 27px;
      font-size: 20px;
      color: #1A2239
    }

    .medico-card-info {
      @extend .dosis-regular;
      display: block;
      text-transform: uppercase;
      line-height: 16px;
      font-size: 12px;
      color: rgba(26, 34, 57, 0.6);
    }
  }

}




















