.wrapper.medico {
  

  .medico-photo,
  .medico-article {
    padding: 90px 0;
  }

  .medico-photo {
    display: block;
		width: 100%;
		height: auto;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 30px 0;
    }
  }

	ul{
		padding: 0;
		li{
			font-family: Nunito;
			list-style: none;
		}
	}

  .medico-article {
    @media screen and (max-width: 768px) {
      padding: 30px 0;
      padding-top: 0;
    }


    .medico-name {
      @extend .dosis-semibold;
      margin: 0 0 15px;
      line-height: 48px;
      font-size: 48px;
      color: #1A2239;
    }

    .medico-info {
      @extend .dosis-regular;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 16px;
      font-size: 12px;
      color: rgba(26, 34, 57, 0.5);
    }

    .medico-topic {
      @extend .dosis-semibold;
      margin-bottom: 5px;
      line-height: 19px;
      font-size: 14px;
      color: #FF206E;
    }

    .medico-description {
      @extend .nunito-regular;
      margin-bottom: 30px;
      line-height: 24px;
      font-size: 16px;
      color: #000;
    }

    .medico-action {
      margin-top: 70px;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }

}
