.wrapper.post {

  .post-header {
    position: relative;
    margin: 0 -15px;
		height: 570px;
		overflow: hidden;

    .post-header-content {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 768px) {
        position: relative;
      }

      .section-label,
      .section-title {
        text-align: center;
        color: #fff;
      }
      
      .section-title {
        margin: 0 auto;
        max-width: 600px;

        @media screen and (max-width: 768px) {
          color: #000;
        }
      }
    }
    
    .post-header-gradient {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(18.57deg, #1A2239 13.72%, rgba(26, 34, 57, 0) 87.61%);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    img {
      position: relative;
      z-index: 0;
      display: block;
      width: 100%;
      height: auto;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .post-content {
    @extend .nunito-regular;
    padding: 90px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(26, 34, 57, 0.8);

    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }

    p, ul, ol, img {
      display: block;
      margin-bottom: 30px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .post-related {
    margin: 0 -15px;
    padding: 90px 0;
    background: #fff;

    @media screen and (max-width: 768px) {
      padding: 30px 15px;
    }

    .section-title {
      margin-bottom: 90px;
      text-align: center;
      color: #1A2239;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }

}
