@import '~v-calendar/lib/v-calendar.min.css';
@import '~swiper/dist/css/swiper.css';
@import '~nprogress/nprogress.css';
@import "icons";
@import "easings";

#dr-app{
	width: 100%;
	a{
		// color: $c-accent;
		font-weight: 700;
		&:hover{
			text-decoration: none;
			color: $c-accent;
		}
	}

	.dr-dark{
		a{
			color: $c-secondary;
			&:hover{
				color: $c-secondary;
			}
		}
	}
}

// Transition: Fade
.fade-enter-active{
	transition: opacity .2s ease-out;
}

.fade-leave-active{
	transition: opacity .2s ease-in;
}

.fade-enter{
	opacity: 0;
}

.fade-leave-active{
	opacity: 0;
}

// Transition: Fade-slide

.fade-slide-enter-active{
	transition: opacity .2s ease-out, transform .2s ease-out;
}

.fade-slide-leave-active{
	transition: opacity .2s ease-in, transform .2s ease-in;
}

.fade-slide-enter{
	opacity: 0;
	transform: translateX(-40px);
}

.fade-slide-leave-active{
	opacity: 0;
	transform: translateX(40px);
}

// Progress Bar
#nprogress{
	.bar{
		background: $c-accent !important;
	}
	.peg{
		box-shadow: 0 0 10px $c-accent, 0 0 5px $c-accent !important;
	}
	.spinner{
		display: none !important;
	}
}
