@charset "UTF-8";

@font-face {
	font-family: "dr-na-hora";
	src:url("/themes/drnahora/public/fonts/dr-na-hora.eot");
	src:url("/themes/drnahora/public/fonts/dr-na-hora.eot?#iefix") format("embedded-opentype"),
	url("/themes/drnahora/public/fonts/dr-na-hora.woff") format("woff"),
	url("/themes/drnahora/public/fonts/dr-na-hora.ttf") format("truetype"),
	url("/themes/drnahora/public/fonts/dr-na-hora.svg#dr-na-hora") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "dr-na-hora" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "dr-na-hora" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon{
	line-height: 70%;
}

.icon-arrow-down:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-up:before {
  content: "\63";
}
.icon-search:before {
  content: "\64";
}
.icon-arrow-right:before {
  content: "\65";
}
.icon-instagram:before {
  content: "\66";
}
.icon-facebook:before {
  content: "\67";
}
.icon-twitter:before {
  content: "\68";
}
.icon-filter:before {
  content: "\69";
}
.icon-play:before {
  content: "\6a";
}
.icon-moon:before {
  content: "\6b";
}
.icon-stethoscope:before {
  content: "\6c";
}
.icon-sun:before {
  content: "\6d";
}
.icon-sundown:before {
  content: "\6e";
}
.icon-syringe:before {
  content: "\6f";
}
.icon-close:before {
  content: "\70";
}
.icon-arrow-down-2:before {
  content: "\71";
}
.icon-arrow-right-2:before {
  content: "\72";
}
.icon-arrow-up-2:before {
  content: "\73";
}
.icon-arrow-left-2:before {
  content: "\74";
}
.icon-online-down:before {
  content: "\75";
}
.icon-online:before {
  content: "\76";
}
.icon-novo:before {
  content: "\77";
}
.icon-online-novo:before {
  content: "\78";
}