url = "/agendar-4"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper paciente">
        <div class="main-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-left">
                        <h1 class="section-title">Detalhes<br>da Consulta <a class="edit-link" href="/agendar-2.html" title="Editar">Editar</a></h1>

                        <div class="scheduled-label">Especialidade</div>
                        <div class="scheduled-item">Clinico Geral</div>

                        <div class="scheduled-label">Data</div>
                        <div class="scheduled-item">8 de Setembro • Quarta-feira</div>

                        <div class="scheduled-label">Horário</div>
                        <div class="scheduled-item">08:00</div>

                        <div class="scheduled-label">Médico</div>
                        <div class="scheduled-item">Dra. Fabiana Lopes Gonzalez</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-right wbb">
                        <a class="back-button" href="/agendar-2.html" title="Voltar">
                            <i class="icon"></i>
                        </a>

                        <form class="schedule-form" method="" action="/agendar-4.html">
                            <input type="hidden" name="showModal" value="1">
                            <div class="form-group mb90">
                                <div class="schedule-form-label">Valor</div>
                                <input class="global-input schedule-form-input" type="text" name="preco" value="R$ 80,00">
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="pagamento">
                                <div class="schedule-form-label">Pagamento</div>
                                <div class="schedule-form-radio" data-value="0">
                                    <div class="v-align">
                                        <div class="v-align-middle">
                                            <div class="radio-input"></div>
                                            <div class="radio-name">Pagar agora com o Pagseguro</div>
                                            <div class="radio-desc">Com desconto de 20%</div>
                                            <div class="pagseguro"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="schedule-form-radio" data-value="1">
                                    <div class="v-align">
                                        <div class="v-align-middle">
                                            <div class="radio-input"></div>
                                            <div class="radio-name">Pagar no dia</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb0">
                                <button class="schedule-form-submit red" type="submit">
                                    Marcar consulta
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
