url = "/agendar-1"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper paciente">
        <div class="main-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-left">
                        <h1 class="section-title">Clinico Geral</h1>
                        <p class="section-excerpt">O Cardiologista é o médico que faz o diagnóstico e tratamento das doenças do coração e também do sistema circulatório.</p>
                        <p class="section-excerpt">Além de tratar doenças como hipertensão, AVC e arritmia, o Cardiologista deve ser procurado para uma orientação preventiva.</p>
                        <p class="section-excerpt wbb">Saiba mais</p>
                        <form class="global-searchbar-form" method="GET" action="/medicos.html">
                            <button class="searchbar-form-submit">Buscar</button>
                            <input class="searchbar-form-input" type="text" placeholder="Pesquise por especialidade">
                            <ul class="searchbar-form-auto">
                                <li><b>Card</b>iologia</li>
                                <li><b>Card</b>iografia</li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-right">
                        <h2 class="section-title">Agendar por:</h2>

                        <ul class="schedule-list clearfix">
                            <li class="schedule-list-item">
                                <a href="/agendar-2.html" title="">
                          <span class="v-align">
                            <span class="v-align-middle">
                              <i class="icon calendar"></i>
                              <span class="labe">Date e Hora</span>
                            </span>
                          </span>
                                </a>
                            </li>
                            <li class="schedule-list-item">
                                <a href="/agendar-2.html" title="">
                          <span class="v-align">
                            <span class="v-align-middle">
                              <i class="icon doctor"></i>
                              <span class="labe">Médico</span>
                            </span>
                          </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
