url = "/consultas"
layout = "default"
==
use \Qualitare\Drnahora\Models\Servicos;

function onLoadData(){
    $servico = new Servicos();
    return $servico->where('tipo', '=', 'C')->get();
}
==

    <div class="col-12" id="vue-search">
        <!-- Wrapper -->
        <div class="wrapper consultas">

            <!-- Search Box -->
            <div class="row">
                <div class="col-12">
                    <div class="global-search-box">
                        <div class="main-center">
                            <h1 class="section-title">Mais de 25 especialidades</h1>
                            <p class="section-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            {{ form_open({ request: 'onSearch', class: 'global-searchbar-form', method: 'POST' }) }}
                                    <input class="searchbar-form-input" @keyup="search" v-model="q" type="text" name="q" placeholder="Pesquise por especialidade">
                            {{ form_close() }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order -->
            <div class="row">
                <div class="col-12">
                    <div class="main-center">
                        <div class="col-md-2 offset-md-10">
                            <ul class="global-dropdown-list">
                                <li class="dropdown-list-item selected">Mais buscadas <i class="dropdown-arrow"></i></li>
                                <ul class="dropdown-sublist">
                                    <li class="dropdown-sublist-item">
                                        <a href="" title="Item 1">Item 1</a>
                                    </li>
                                    <li class="dropdown-sublist-item">
                                        <a href="" title="Item 2">Item 2</a>
                                    </li>
                                    <li class="dropdown-sublist-item">
                                        <a href="" title="Item 3">Item 3</a>
                                    </li>
                                    <li class="dropdown-sublist-item">
                                        <a href="" title="Item 4">Item 4</a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Horizontal items -->
            <div class="row">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-12" v-for="(consulta, index) in response" :key="index">
                                <div class="global-horiz-item">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="horiz-item-label"><% consulta.nome %></p>
                                            <p class="horiz-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                            <p class="horiz-item-more">Saiba mais</p>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <div class="v-align">
                                                <div class="v-align-middle">
                                                    <a class="global-link" href="/consulta.html" title="Agendar">Agendar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a class="global-link global-link-bottom nofill" @click="viewMore" href="" title="Ver Mais" rel="nofollow">Ver Mais</a>
                </div>
            </div>
        </div>
    </div>
