url = "/exames"
layout = "default"
==
use \Qualitare\Drnahora\Models\Shosp;
function onLoadData(){
    $shosp = new Shosp();
    return $shosp->getExames();
}
==
<div class="col-12" id="vue-search">
    <!-- Wrapper -->
    <div class="wrapper exames">

        <!-- Search Box -->
        <div class="row">
            <div class="col-12">
                <div class="global-search-box">
                    <div class="main-center">
                        <h1 class="section-title">Mais de 200 exames</h1>
                        <p class="section-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <form class="global-searchbar-form" method="GET" action="/exames.html">
                            <input class="searchbar-form-input" @keyup="search" v-model="q" type="text" placeholder="Pesquise por exame">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order -->
        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="col-12">
                        <ul class="global-dropdown-list">
                            <li class="dropdown-list-item selected text-center">Buscar por tipo de exames</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-if="q.length > 0">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="global-vert-item" href="/exame.html" title="Exames Laboratoriais">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-vert-item" href="/exame.html" title="Exames de imagem">
                                <i class="vert-item-icon body"></i>
                                <span class="vert-item-label">Exames<br>de imagem</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-vert-item" href="/exame.html" title="Exames do coração">
                                <i class="vert-item-icon heart"></i>
                                <span class="vert-item-label">Exames<br>do coração</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vertical items -->
        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-4" v-for="(exame, index) in response" :key="index">
                            <a class="global-vert-item" href="/exame.html" :title="exame.nome">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label"><% exame.nome %></span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
