url='/home'
layout='default'
==
use \Qualitare\Drnahora\Models\Shosp;
use \Qualitare\Drnahora\Models\Contadores;
use \Qualitare\Drnahora\Models\Depoimentos;
use \Qualitare\Drnahora\Models\Unidades;
use \Qualitare\Drnahora\Models\Servicos;
use \Qualitare\Blog\Models\Post;

function onStart(){
	$shosp = new Shosp();
	$contadores = Contadores::all();

	$this['depoimentos'] = Depoimentos::all();
	$this['unidades'] = Unidades::all();
	$this['posts'] = Post::limit(3)->orderBy('created_at','DESC')->get();
	$this['contadorMedicos'] = 0;
	$this['contadorExames'] = 0;
	$this['contadorUnidades'] = 0;
	$this['contadorEspecialidades'] = 0;
	foreach($contadores as $c){
		switch($c->nome){
			case "Médicos":
			$this['contadorMedicos'] = $c->quantidade;
			break;

			case "Exames":
			$this['contadorExames'] = $c->quantidade;
			break;

			case "Especialidades":
			$this['contadorEspecialidades'] = $c->quantidade;
			break;

			case "Unidades":
			$this['contadorUnidades'] = $c->quantidade;
			break;
		}
	}
}

function onLoadEspecialidades(){
	$servico = new Servicos();
	return $servico->where('tipo', '=', 'C')->get();
}

==
<div class="col-12">
	<!-- Wrapper -->
	<div class="wrapper home">
		<div class="wrapper-content">
			<div class="mouse-icon">
				<div class="mouse-icon-scroll"></div>
			</div>

			<div class="home-parallax parallax-items d-none d-xl-block">
				<img class="p1" src="{{'/public/images/Planta.svg'|theme}}">
				<img class="p2" src="{{'/public/images/Ilustracao.svg'|theme}}">
				<img class="p3" src="{{'/public/images/Remedios.svg'|theme}}">
			</div>

			<!-- Search Box -->
			<div class="row" id="vue-search">
				<div class="col-12">
					<div class="main-center">
						<div class="row">
							<div class="col-12 col-md-7">
								<h1 class="section-title first-title">
									Sua saúde em boas mãos<br>Agende já sua consulta
								</h1>
								<p class="section-excerpt">
									Selecione uma categoria abaixo
								</p>
								<form class="global-searchbar-form" method="GET" action="/medicos.html">
									<button class="searchbar-form-submit">Buscar</button>
									<input class="searchbar-form-input" @keyup="getEspecialidades" v-model="q" type="text" placeholder="Pesquise por especialidade">
									<ul class="searchbar-form-auto" :class="{'active': q != '' && filtered.length > 0}">
										<li v-for="item in filtered">
											<a :href="'/app/#/consulta/' + item.id">
												<% item.nome %>
											</a>
										</li>
									</ul>
								</form>
							</div>
							<div class="col-12 col-md-7">
								<div class="row">
									<div class="col-12 col-md-8 d-none d-sm-block">
										<nav class="tagsbar">
											<ul class="tagsbar-list">
												<li class="tagsbar-list-item" v-for="item in especialidades.slice(0, 2)">
													<a :href="'/app/#/consulta/' + item.id" :title="item.nome">
														<% item.nome %>
													</a>
												</li>
											</ul>
										</nav>
									</div>
									<div class="col-12 col-md-4 text-md-right">
										<!--a class="specialties-link" href="{{'medicos'|page}}" title="Listar especialidades">
											Listar especialidades
										</a-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Site Info -->
			<div class="row">
				<div class="col-12">
					<div class="cardinfo-list main-center">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="cardinfo-list-item">
									<h2 class="cardinfo-list-item-title"><span class="countdown" data-start="0"
																																			data-end="{{contadorEspecialidades}}">0</span>
										<span>Especialidades </span></h2>
									<p class="cardinfo-list-item-excerpt">Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Ipsam omnis molestiae voluptate hic ipsum</p>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="cardinfo-list-item">
									<h2 class="cardinfo-list-item-title"><span class="countdown" data-start="0"
																																			data-end="{{contadorMedicos}}">0</span>
										<span>Médicos</span></h2>
									<p class="cardinfo-list-item-excerpt">Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Ipsam omnis molestiae voluptate hic ipsum</p>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="cardinfo-list-item">
									<h2 class="cardinfo-list-item-title"><span class="countdown" data-start="0"
																																			data-end="{{contadorExames}}">0</span>
										<span>Exames</span></h2>
									<p class="cardinfo-list-item-excerpt">Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Ipsam omnis molestiae voluptate hic ipsum</p>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="cardinfo-list-item">
									<h2 class="cardinfo-list-item-title"><span class="countdown" data-start="0"
																																			data-end="{{contadorUnidades}}">0</span>
										<span>Unidades</span></h2>
									<p class="cardinfo-list-item-excerpt">Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Ipsam omnis molestiae voluptate hic ipsum</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Try Service -->
			<div class="row">
				<div class="col-12">
					<div class="tryservice main-center">
						<div class="row">
							<div class="col-12 col-md-6">
								<img class="tryservice-illustration"
						 src="{{'/public/images/illustration-2x-01.png'|theme}}"
			 alt="Médicos na frente do computador">
							</div>
							<div class="col-12 col-md-4">
								<article class="tryservice-post">
									<p class="section-label d-none d-sm-block">Médicos</p>
									<h1 class="section-title">Seja um <br>Dr. na Hora</h1>
									<p class="section-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									Fugiat illum aliquam porro ut expedita cum laborum autem maiores non nihil ullam
									quae itaque, ab optio tenetur vel nobis. Itaque, nisi. Lorem ipsum dolor sit
									amet, consectetur adipisicing elit. Quos velit consectetur ex aliquam.</p>
									<a class="global-link" href="/app/#/inscricao" title="Seja um médico Dr. na Hora">Seja
										um médico Dr. na Hora</a>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Testimonials -->
			<div class="row">
				<div class="col-12">
					<div class="testimonials">
						<p class="section-label">Depoimentos</p>
						<h2 class="section-title">Opiniões dos nossos<br>clientes</h2>

						<div class="testimonials-slides">
							{% for d in depoimentos %}
							<div class="testimonials-slides-item">
								<h3 class="testimonials-slides-item-name">{{d.nome}}</h3>
								<p class="testimonials-slides-item-age">{{d.idade}} anos - {{d.profissao}}</p>
								<p class="testimonials-slides-item-content">{{d.depoimento}}</p>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<!-- Maps -->
			<div class="row d-none d-sm-block">
				<div class="col-12">
					<div class="location">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-10 offset-md-1">
										<div class="location-places">
											{% for u in unidades %}
											<div
							 class="location-places-item {% if u.cidade == 'joao-pessoa' %} active {% endif %}">
												<div class="v-align">
													<div class="v-align-middle">
														<div class="row">
															<div class="col-12">
																<h3 class="location-places-item-title">{{u.nome}}</h3>
																<p class="location-places-item-description">
																{{u.endereco}}, {{u.cidade}}</p>
															</div>
															<div class="col-md-4">
																<p class="location-places-item-section">Traçar rota:</p>
																<a class="location-places-item-link global-link"
									 target="_blank" href="" title="" rel="nofollow">Goole
									 Maps</a>
															</div>
															<div class="col-md-8">
																<p class="location-places-item-section">
																Funcionamento:</p>
																<p class="location-places-item-description mb0">
																{{u.horario_atendimento}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
									<div class="col-12">
										<div class="location-maps">
											{% for u in unidades %}
											<div class="map-container"
								class="location-maps-item {% if u.cidade == 'joao-pessoa' %} active {% endif %}">
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="location-slides">
									<div class="location-slides-nav">
										<button class="location-slides-nav-button">Próximo <i class="icon"></i></button>
									</div>
									{% for u in unidades %}
									<div
																																 class="location-slides-item {% if u.cidade == 'joao-pessoa' %} active {% endif %}">
										<img src="{{u.imagem.path}}" alt="">
									</div>
									{% endfor %}
									<!--<div class="location-slides-item">-->
									<!--<img src="{{'/public/samples/location-item-02.jpg'|theme}}" alt="">-->
									<!--</div>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Blog posts -->
			<div class="row">
				<div class="col-12">
					<div class="bloghome">
						<div class="main-center">
							<div class="row">
								<div class="col-12">
									<p class="section-label">Blog</p>
									<h3 class="section-title">Fique por dentro de todas as<br>notícias sobre saúde</h3>
								</div>
							</div>
							<div class="row">
								{% for p in posts %}
								<div class="col-12 col-md-4">
									<a class="global-blog-post-item" href="/post/{{ p.id }}" title="">
										<span class="post-item-label">{{p.category.name}}</span>
										<span class="post-item-title">{{p.title}}</span>
										<img class="post-item-thumb"
							 src="{{p.thumbnail.path}}" alt="">
										<span class="post-item-footer clearfix">
											<span class="post-item-more float-left">
												Leia mais
											</span>
											<i class="post-item-icon float-right"></i>
										</span>
									</a>
								</div>
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<a class="global-link" href="/app/#/blog" title="Ver todas as notícias"
																											 rel="nofollow">Ver todas as notícias</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
