url = "/medicos/:especialidade?"
layout = "default"
==
use \Qualitare\Drnahora\Models\Shosp;
use \Qualitare\Drnahora\Models\Medicos;
use \Qualitare\Drnahora\Models\Especialidade;

function onStart(){
	$especialidades = Especialidade::all();
	$this['especialidades'] = $especialidades;
}

function onLoadMedicos(){
	$shosp = new Shosp();
	if($this->controller->vars['this']['param']['especialidade']){
		$filtered = $shosp->getMedicos($this->controller->vars['this']['param']['especialidade']);
		$filtered = array_map(function($value) {
			return $value['codigo'];
		}, $filtered);
		$medicos = Medicos::whereIn('codigo_shosp', $filtered)->get();
	}else{
		$medicos = Medicos::all();
	}

	return $medicos;
}

==
<div class="col-12" id="vue-search">
	<!-- Wrapper -->
	<div class="wrapper medicos">

		<!-- Search Box -->
		<div class="row">
			<div class="col-12">
				<div class="global-search-box">
					<div class="main-center">
						<h1 class="section-title">Conheça nossos médicos</h1>
						<p class="section-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
						<form class="global-searchbar-form" method="GET" action="/medicos.html">
							<button class="searchbar-form-submit">Buscar</button>
							<input class="searchbar-form-input" v-model="q" @keyup="search($event); getEspecialidades($event);" type="text" placeholder="Pesquise por médico ou área de atuação">
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Order -->
		<div class="row">
			<div class="col-12">
				<div class="main-center">
					<div class="col-md-3 offset-md-9">
						<ul class="global-dropdown-list">
							<li class="dropdown-list-item selected">
								Por profissionalização
								<i class="dropdown-arrow"></i>
							</li>
							<ul class="dropdown-sublist">
								<li class="dropdown-sublist-item">
									<a href="" title="Item 1">Item 1</a>
								</li>
								<li class="dropdown-sublist-item">
									<a href="" title="Item 2">Item 2</a>
								</li>
								<li class="dropdown-sublist-item">
									<a href="" title="Item 3">Item 3</a>
								</li>
								<li class="dropdown-sublist-item">
									<a href="" title="Item 4">Item 4</a>
								</li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row" v-show="q == '' || especialidades.length == 0">
			<div class="col-12">
				<div class="main-center">
					<div class="row">
						<div class="col-12">
							<button class="medicos-category-list-arrow prev">
								<i class="icon"></i>
							</button>
							<button class="medicos-category-list-arrow next">
								<i class="icon"></i>
							</button>
							<ul class="medicos-category-list">
								{% for especialidade in especialidades %}
									<li class="medicos-category-list-item">
										<a class="medicos-category-list-item-link">
											<img src="{{ especialidade.icone ? especialidade.icone.path : '' }}" alt="">
										</a>
										<p class="medicos-category-list-item-label">
											{{ especialidade.name }}
										</p>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="main-center">
					<h1 class="section-title">Cirurgião</h1>
				</div>
			</div>
			<div class="col-12">
				<div class="main-center">
					<div class="row">
						<div class="col-md-3" v-for="(medico, index) in response" :key="index">
							<a class="medico-card" :href="'/medico/' + medico.id" :title="medico.name">
								<span class="medico-card-thumb" :style="{backgroundImage: `url(${medico.foto ? medico.foto.path : ''})`}"></span>
								<span class="medico-card-name"><% medico.name %></span>
								<span class="medico-card-info"><% medico.orgao %> <% medico.codigo_orgao %> - <b
							v-for="especialidade in medico.especialidades"><% especialidade.nomeEspecialidade %></b></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
