url = "/paciente-historico"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper paciente">
        <div class="main-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-left">
                        <h1 class="section-title">Olá,<br>Augusto César</h1>
                        <p class="section-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="consultas-list">
                            <li class="consultas-list-item">
                                <a href="/paciente-marcadas.html" title="Consultas marcadas">Consultas marcadas</a>
                            </li>
                            <li class="consultas-list-item">
                                <a href="/paciente-pendentes.html" title="Consultas pendentes">Consultas pendentes <span class="badge">2</span></a>
                            </li>
                            <li class="consultas-list-item active">
                                <a href="/paciente-historico.html" title="Histórico de consultas">Histórico de consultas</a>
                            </li>
                        </ul>
                        <form class="global-searchbar-form" method="GET" action="/medicos.html">
                            <button class="searchbar-form-submit">Buscar</button>
                            <input class="searchbar-form-input" type="text" placeholder="Pesquise por especialidade">
                            <ul class="searchbar-form-auto">
                                <li><b>Card</b>iologia</li>
                                <li><b>Card</b>iografia</li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-right">
                        <h2 class="section-title">Histórico de Consultas</h2>
                        <div class="consulta-card clearfix">
                            <div class="consulta-card-content">
                                <div class="card-content-left">
                                    <p class="card-content-label">Especialidade</p>
                                    <p class="card-content-desc">Clinico Geral</p>
                                    <p class="card-content-label">Data</p>
                                    <p class="card-content-desc">13/04 - Sexta-feira</p>
                                </div>
                                <div class="card-content-right">
                                    <p class="card-content-label">Médico</p>
                                    <p class="card-content-desc">Adriana de Jesus Pires Brito</p>
                                    <p class="card-content-label">Horário</p>
                                    <p class="card-content-desc">às 10:00</p>
                                </div>
                            </div>
                        </div>

                        <div class="consulta-card clearfix">
                            <div class="consulta-card-content">
                                <div class="card-content-left">
                                    <p class="card-content-label">Especialidade</p>
                                    <p class="card-content-desc">Clinico Geral</p>
                                    <p class="card-content-label">Data</p>
                                    <p class="card-content-desc">13/04 - Sexta-feira</p>
                                </div>
                                <div class="card-content-right">
                                    <p class="card-content-label">Médico</p>
                                    <p class="card-content-desc">Adriana de Jesus Pires Brito</p>
                                    <p class="card-content-label">Horário</p>
                                    <p class="card-content-desc">às 10:00</p>
                                </div>
                            </div>
                        </div>

                        <div class="consulta-card clearfix">
                            <div class="consulta-card-content">
                                <div class="card-content-left">
                                    <p class="card-content-label">Especialidade</p>
                                    <p class="card-content-desc">Clinico Geral</p>
                                    <p class="card-content-label">Data</p>
                                    <p class="card-content-desc">13/04 - Sexta-feira</p>
                                </div>
                                <div class="card-content-right">
                                    <p class="card-content-label">Médico</p>
                                    <p class="card-content-desc">Adriana de Jesus Pires Brito</p>
                                    <p class="card-content-label">Horário</p>
                                    <p class="card-content-desc">às 10:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
