<template>
	<dr-modal class="dr-alert" @close="$emit('close', $event)">
		<img class="dr-alert__icon" src="/themes/drnahora/public/images/check.svg" v-if="type == 'success'">

		<dr-title class="dr-alert__message" size="sm">
			{{ message }}
		</dr-title>

		<button class="dr-alert__confirm" @click="$emit('confirm', $event)">
			Ok
		</button>
	</dr-modal>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRModal from '../atoms/DRModal.vue'

export default {
	components: {
		'dr-modal': DRModal,
		'dr-title': DRTitle,
	},
	props: {
		type: {
			type: String,
			default: 'success'
		},
		message: {
			type: String,
			default: 'Lorem ipsum sit amet!'
		}
	}
}
</script>

<style lang="scss">
.dr-alert{
	text-align: center;
	&__confirm{
		background: transparent;
		border: 0;
		padding: 16px;
		cursor: pointer;
		color: $c-accent;
		font-family: Dosis;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 700;
	}
	&__message,
	&__icon{
		display: block;
		margin: 40px auto;
	}
	.dr-modal{
		&__container{
		}
	}
}
</style>
