<template>
	<div class="dr-input-time">
		<dr-text type="label" v-if="label">
			{{ label }}
		</dr-text>
		<div class="dr-input-time__options">
			<dr-button
				v-for="(option, key) in options"
				class="dr-input-time__option"
				theme="accent"
				size="sm"
				:key="key"
				:filled="option == value"
				@click="$emit('input', option)"
			>
				{{ option }}
			</dr-button>
		</div>
	</div>
</template>

<script>
import DRButton from '../atoms/DRButton.vue'
import DRText from '../atoms/DRText.vue'

export default {
	components: {
		'dr-button': DRButton,
		'dr-text': DRText
	},

	props: {
		value: {
			type: String|Number,
			default: ''
		},
		options: {
			type: Array,
			default: () => ([
				'10:00', '11:00', '14:00'
			])
		},
		label: {
			type: String,
			default: ''
		}
	},
}
</script>

<style lang="scss">
.dr-input-time{
	margin: 32px 0;
	&__options{
		display: flex;
		flex-flow: row wrap;
	}
	&__option{
		margin-right: 10px;
		margin-bottom: 10px;
	}
}
</style>
