<template>
	<div
		class="dr-input-autocomplete"
		:class="{
			'is-focused': focused,
		}"
	>
		<div class="dr-input-autocomplete__wrapper">
			<input
				class="dr-input-autocomplete__field"
				type="text"
				:placeholder="label"
				@keydown="onKeydown"
				@focus="focused = true"
				@blur="focused = false"
			>
			<span class="dr-input-autocomplete__close" @click="$emit('close')">
				Cancelar
			</span>
		</div>

		<transition name="fade">
			<div class="dr-input-autocomplete__dropdown" v-if="evaluated.length > 0 && focused || width <= 768">
				<div
					class="dr-input-autocomplete__option"
					v-for="(key, index) in evaluated"
					:key="index"
					@click="$emit('input', {service: service, key: key})"
				>
					{{ options[key] }}
				</div>
			</div>
		</transition>
	</div>
</template>

<script>
export default {
	props: {
		service: {
			type: String,
			default: null
		},
		value: {
			type: String,
			default: null
		},
		options: {
			type: Object,
			default: () => ({})
		},
		delay: {
			type: Number,
			default: 400
		},
		label: {
			type: String,
			default: 'Selecione a especialidade'
		}
	},

	data: () => ({
		timer: null,
		focused: false,
		evaluated: []
	}),

	computed: {
		width() {
			return window.innerWidth
		}
	},

	mounted() {
		console.log(this.options);
		this.evaluated = Object.keys(this.options)
	},

	methods: {
	    replaceKeyword(key) {
        let str = key.replace(/[aáàãäâ]/,'a');
            str = str.replace(/[eéèëê]/,'e');
            str = str.replace(/[iíìïî]/,'i');
            str = str.replace(/[oóòõöô]/,'o');
            str = str.replace(/[uúùüû]/,'u');
            str = str.replace(/[çÇ]/,'c');
            return str;
        },
		onKeydown(event) {
			clearTimeout(this.timer)

           let value  = this.replaceKeyword(event.target.value.toLowerCase())

			this.timer = setTimeout(() => {
				this.$emit('search', value)
				this.evaluated = []

				if (!event.target.value)
					return this.evaluated = Object.keys(this.options)

				for (let key in this.options) {
					let option = this.options[key]

					if (this.replaceKeyword(option.toLowerCase()).includes(value))
						this.evaluated.push(key)
				}
			}, this.delay)
		},

		onOptionClick(event, value) {
			event.preventDefault()
			this.$emit('select', value)
		}
	}
}
</script>

<style lang="scss">
.dr-input-autocomplete{
	position: relative;

	&__wrapper{
		position: relative;
	}
	&__field{
		width: 100%;
		box-sizing: border-box;
		padding: 26px;
		padding-right: 100px;
		background: white;
		border: 0;
		font-size: 16px;
		font-family: Nunito;
		&::placeholder{
            color: rgba(black, .6);
		}
	}
	&__close{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		font-size: 12px;
		color: $c-accent;
		cursor: pointer;
		padding: 10px 26px;
	}
	&__dropdown{
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		max-height: 200px;
		z-index: 200;
		padding: 15px;
		background: $c-lightgrey;
	}
	&__option{
		cursor: pointer;
		padding: 15px 20px;
		font-family: Nunito;
		color: $c-black;
		border-radius: 7px;
		border: 1px solid rgba(26, 34, 57, .08);
		margin-bottom: 8px;
		&:hover{
			color: $c-accent;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}

	@include grid-media($desktop-grid){
		.dr-input-autocomplete{
			&__wrapper{
			}
			&__close{
			}
			&__field{
				border-radius: 8px;
			}
			&__dropdown{
				transform: translate(0, 10px);
				border-radius: 10px;
				box-shadow: 0 4px 4px rgba(black, .1);
				background: white;
			}
			&__option{
				border: 0;
				margin: 0;
				padding: 5px 12px;
				text-align: left;
			}
			&__option{
			}
		}
	}

	@include grid-media($smartphone-grid) {
		.dr-input-autocomplete{
			&__field{
			}
			&__dropdown{
			}
			&__option{
			}
		}
	}
}
</style>
