<template>
	<div class="dr-input-radio">
		<dr-text class="dr-input-radio__label" type="label" v-if="label">
			{{ label }}
		</dr-text>
		<button
			class="dr-input-radio__option"
			:class="{'is-active': key == value}"
			:key="key"
			v-for="(option, key) in options"
			@click="$emit('input', key)"
		>
			<span class="dr-input-radio__bullet">
			</span>
			<div>
				<dr-text class="dr-input-radio__text" type="strong">
					{{ getLabel(option) }}
				</dr-text>

				<dr-text class="dr-input-radio__caption" type="body" v-if="getCaption(option)">
					{{ getCaption(option) }}
				</dr-text>
			</div>
		</button>
	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'

export default {
	components: {
		'dr-text': DRText,
	},

	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: String|Number,
			default: ''
		},
		options: {
			type: Object,
			default: () => ({
				first: 'Primeira opção',
				second: 'Segunda opção',
			})
		}
	},

	methods: {
		getLabel(option) {
			if (typeof option === 'object')
				return option.label
			else
				return option
		},

		getCaption(option) {
			if (typeof option === 'object')
				return option.caption
			else
				return false
		}
	}
}
</script>

<style lang="scss">
.dr-input-radio{
	margin: 32px 0;
	&__label{
	}
	&__option{
		background: white;
		border: 0;
		border-radius: 7px;
		box-shadow: 0 4px 4px rgba(black, .1);
		text-align: left;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		padding: 36px 32px;
		width: 100%;
		margin-bottom: 24px;
		&.is-active{
			.dr-input-radio{
				&__bullet{
					&:before{
						transform: translate(-50%, -50%) scale(1);
						transition: .3s $easeOutBack;
					}
				}
			}
		}
	}
	&__bullet{
		width: 24px;
		height: 24px;
		border-radius: 24px;
		border: 2px solid $c-accent;
		display: inline-block;
		position: relative;
		margin-right: 32px;
		&:before{
			content: "";
			position: absolute;
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			left: 50%;
			top: 50%;
			background: $c-accent;
			transform: translate(-50%, -50%) scale(0);
			transition: .3s $easeInQuad;
		}
	}
	&__text{
		color: $c-black !important;
		display: block;
	}
	&__caption{
		color: $c-black !important;
		opacity: .3;
	}
}
</style>
