<template>
	<label class="dr-input-text"
		:class="{
			'is-focused': focused,
			'is-outlined': outlined
		}"
	>
		<dr-text class="dr-input-text__label" type="label" v-if="label">
			{{ label }}
		</dr-text>
		<div class="dr-input-text__wrapper">
			<slot name="prefix">
			</slot>

			<input
				class="dr-input-text__field"
				v-if="mask"
				v-mask="mask"
				:type="type"
				:placeholder="placeholder"
				:disabled="disabled"
				:value="value"
				@change="$emit('input', $event.target.value)"
				@focus="onFocus"
				@blur="onBlur"
			>
			<input
				class="dr-input-text__field"
				v-else
				:type="type"
				:placeholder="placeholder"
				:disabled="disabled"
				:value="value"
				@change="$emit('input', $event.target.value)"
				@focus="onFocus"
				@blur="onBlur"
			>

			<slot name="suffix">
			</slot>
		</div>

		<transition name="fade">
			<span class="dr-input-text__error" v-if="error">
				{{ error }}
			</span>
		</transition>
	</label>
</template>

<script>
import DRText from '../atoms/DRText.vue'
import mask from '../../directives/mask'

export default {
	components: {
		'dr-text': DRText,
	},

	directives: {
		mask: mask
	},

	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: String|Number,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		outlined: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		},
		mask: {
			type: Object|String,
			default: null
		},
		error: {
			type: String,
			default: null
		},
	},

	data: () => ({
		focused: false
	}),

	methods: {
		onFocus(event) {
			this.$emit('focus', event)
			this.focused = true
		},
		onBlur(event) {
			this.$emit('blur', event)
			this.focused = false
		}
	}
}
</script>

<style lang="scss">
.dr-input-text{
	display: block;
	margin: 32px 0;
	position: relative;
	&__label{
		margin-bottom: 0;
	}
	&__wrapper{
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(black, .1);
		&:before{
			content: "";
			position: absolute;
			bottom: -1px;
			width: 0%;
			border-bottom: 2px solid $c-accent;
			display: inline-block;
			transition: width .2s $easeInOutQuad, border-color .1s $easeInOutQuad;
		}
	}
	&__field{
		width: 100%;
		border: 0;
		padding: 15px 0;
		background: transparent;
		font-weight: 600;
		font-family: Dosis;
		&::placeholder{
			color: rgba(black, .6);
		}
	}
	&__error{
		position: absolute;
		bottom: -25px;
		left: 0;
		width: 100%;
		font-size: 11px;
		color: red;
	}

	&.is-focused{
		.dr-input-text{
			&__wrapper{
				&:before{
					width: 100%;
				}
			}
		}
	}


	&.is-outlined{
		.dr-input-text{
			&__label{
				margin-bottom: 16px;
			}
			&__field{
				border-bottom: 0;
				padding-left: 20px;
				padding-right: 20px;
			}
			&__wrapper{
				border: 1px solid rgba($c-black, .1);
				background: white;
				&:before{
					width: auto;
					top: -1px;
					left: -1px;
					bottom: -1px;
					right: -1px;
					border: 2px solid transparent;
				}
			}
		}
	}

	&.is-outlined.is-focused{
		.dr-input-text{
			&__wrapper{
				&:before{
					border-color: $c-accent;
				}
			}
		}
	}

}

.dr-dark{
	.dr-input-text{
		&__field{
			color: white;
			&::placeholder{
				color: rgba(white, .3);
			}
		}
		&__wrapper{
			border-bottom: 1px solid rgba(white, .1);
		}
		&.is-outlined{
			.dr-input-text{
				&__wrapper{
					background: transparent;
					border-color: rgba(white, .1);
				}
			}
		}
	}
}
</style>
