<template>
	<div class="dr-pick-speciality">
		<div class="dr-pick-speciality__wrapper">
			<dr-text class="dr-pick-speciality__type" :bold="true" theme="accent" type="label">
				{{ type }}
			</dr-text>

			<dr-title class="dr-pick-speciality__text" size="xs">
				Para começarmos, você precisa nos dizer em que especialidade deseja ser atendido.
			</dr-title>

			<button class="dr-pick-speciality__select" @click="$emit('select')">
				Selecione a especialidade
			</button>
		</div>

		<dr-text class="dr-pick-speciality__close" type="small" :bold="true">
			Desistiu da consulta?

			<span @click="$emit('close')">
				Volte para a home.
			</span>
		</dr-text>
	</div>
</template>

<script>
import DRText from '@/components/atoms/DRText.vue'
import DRTitle from '@/components/atoms/DRTitle.vue'

export default {
	components: {
		'dr-text': DRText,
		'dr-title': DRTitle
	},

	props: {
		type: {
			type: String,
			default: 'Consulta'
		}
	}
}
</script>

<style lang="scss">
.dr-pick-speciality{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	min-height: 500px;
	background: $c-lightgrey;
	border-radius: 8px;
	padding: 20px;
	box-sizing: border-box;
	&__wrapper{
	}
	&__type{
		margin: 30px 0;
	}
	&__text{
		margin: 30px 0;
	}
	&__select{
		margin-top: 40px;
		padding: 22px;
		background: white;
		border: 1px solid rgba(26, 34, 57, 0.1);
		border-radius: 7px;
		width: 100%;
		display: block;
		text-align: left;
		font-size: 16px;
		line-height: 24px;
		color: $c-accent;
	}
	&__close{
		text-align: center;
		span{
			color: $c-accent;
			cursor: pointer;
		}
	}
}
</style>
