<template>
	<div class="dr-toggle-service" :class="{ 'is-inline': inline }">


		<button class="dr-toggle-service__option" @click="$emit('input', 'consultas')" :class="{'is-active': value == 'consultas'}">
			<dr-icon class="dr-toggle-service__icon" name="stethoscope" theme="accent" size="xl" />
			<dr-text class="dr-toggle-service__label" type="body" :bold="true" :theme="value == 'consultas' ? 'accent' : 'default'">
				Consultas
			</dr-text>
		</button>

		<button class="dr-toggle-service__option2" @click="$emit('input', 'consultasonline')" :class="{'is-active': value == 'consultasonline'}">
			<dr-icon class="dr-toggle-service__icon" name="online" theme="accent" size="xl" />
			<dr-text class="dr-toggle-service__label" type="body" :bold="true" :theme="value == 'consultasonline' ? 'accent' : 'default'">
				Consultas Online
			</dr-text>
			<dr-text class="dr-toggle-service__label-novo" type="body" :bold="true">
				NOVO
			</dr-text>

		</button>

		<button class="dr-toggle-service__option3" @click="$emit('input', 'exames')" :class="{'is-active': value == 'exames'}">
			<dr-icon class="dr-toggle-service__icon" name="syringe" theme="accent" size="xl" />
			<dr-text class="dr-toggle-service__label" type="body" :bold="true" :theme="value == 'exames' ? 'accent' : 'default'">
				Exames
			</dr-text>
		</button>
	</div>
</template>

<script>
import DRText from '@/components/atoms/DRText.vue'
import DRIcon from '@/components/atoms/DRIcon.vue'

export default {
	components: {
		'dr-text': DRText,
		'dr-icon': DRIcon
	},

	props: {
		value: {
			type: String,
			default: '' // consultas | exames
		},

		inline: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.dr-toggle-service{
	align-items: center;
	display: flex;
	&__option{
		background: white;
		border: 2px solid transparent;
		border-radius: 8px;
		padding: 20px;
		text-align: center;
		margin: 0 5px;
		width: 140px;
		cursor: pointer;
		transition: border .15s $easeInOutQuad;
		&.is-active{
			border-color: $c-accent;
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__option2{
		background: white;
		border: 2px solid transparent;
		border-radius: 8px;
		padding: 20px;
		text-align: center;
		margin: 0 5px;
		flex: 1;
		height: 140px;
		cursor: pointer;
		transition: border .15s $easeInOutQuad;
		&.is-active{
			border-color: $c-accent;
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__option3{
		background: white;
		border: 2px solid transparent;
		border-radius: 8px;
		padding: 20px;
		text-align: center;
		margin: 0 5px;
		width: 140px;
		cursor: pointer;
		transition: border .15s $easeInOutQuad;
		&.is-active{
			border-color: $c-accent;
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__icon{
	}
	&__icon-novo{
	}
	&__label{
	}
	&__label-novo{
		color: #FF206E;
	}

	&.is-inline{
		.dr-toggle-service{
			&__option{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__icon{
				font-size: 20px;
				margin-right: 5px;
			}
			&__icon-novo{
				font-size: 20px;
				margin-right: 5px;
			}
			&__label{
				font-size: 16px;
			}
		}
	}

	@include grid-media($desktop-grid) {
		.dr-toggle-service{
		}

		&.is-inline{
			&__icon{
				font-size: 26px;
				margin-right: 10px;
			}
			&__icon-novo{
				font-size: 26px;
				margin-right: 10px;
			}
			&__label{
				font-size: 20px;
			}
		}
	}
}
</style>
