<template>
	<div
		class="dr-toolbar dr-dark"
		:class="[
			`dr-toolbar--${theme}`
		]"
	>
		<button
			v-if="previous"
			class="dr-toolbar__previous"
			@click="$emit('previous')"
		>
			<dr-icon name="arrow-left-2" :dark="true" size="sm" />
		</button>

		<dr-text class="dr-toolbar__title" :bold="true">
			{{ title }}
		</dr-text>
	</div>
</template>

<script>
import DRIcon from '@/components/atoms/DRIcon.vue'
import DRText from '@/components/atoms/DRText.vue'

export default {
	components: {
		'dr-icon': DRIcon,
		'dr-text': DRText
	},

	props: {
		title: {
			type: String,
			default: 'Agendamento'
		},
		theme: {
			type: String,
			default: 'primary' // primary | accent
		},
		previous: {
			type: Boolean,
			default: true
		}
	}
}
</script>

<style lang="scss">
.dr-toolbar{
	display: flex;
	align-items: center;
	height: 88px;
	&__previous{
		border: 0;
		background: transparent;
		padding: 10px 16px;
		line-height: 70%;
	}
	&__title{
		flex: 1;
	}

	&--primary{
		background: $c-primary;
	}
	&--accent{
		background: $c-accent;
	}
}
</style>
